In [9]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md

In [10]:
column_names=['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15']
df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\incomplete\Incomplete Datasets Without Labels\CREDIT\CREDIT_AE_5.xlsx',header=None,names=column_names)
df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,Column 11,Column 12,Column 13,Column 14,Column 15
0,b,3083.0,0,u,g,w,v,125,t,t,1.0,f,g,202,0.0
1,a,5867.0,446,u,NaN,q,NaN,304,t,t,NaN,f,g,43,560.0
2,a,245.0,5,u,g,q,h,15,t,f,0.0,f,g,280,824.0
3,b,2783.0,154,u,g,w,v,375,t,t,5.0,t,g,100,3.0
4,b,2017.0,5625,u,g,w,v,171,t,f,0.0,f,s,120,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,b,2108.0,10085,y,NaN,e,h,125,NaN,NaN,0.0,f,g,260,0.0
649,a,2267.0,75,u,g,c,v,2,f,t,2.0,t,g,200,394.0
650,a,2525.0,135,y,p,ff,ff,2,f,t,1.0,t,g,200,1.0
651,b,1792.0,205,u,g,aa,v,4,f,f,0.0,f,g,280,750.0
652,b,35.0,3375,u,g,c,h,829,f,f,0.0,t,g,0,0.0

In [11]:
from tensorflow.python.framework import ops
ops.reset_default_graph()

In [12]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [13]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [14]:
import tensorflow.compat.v1 as tf
tf.reset_default_graph()

In [15]:
categorical = ['Column 1','Column 4','Column 5','Column 6','Column 7','Column 9','Column 10','Column 12','Column 13']
data_cat, cat_cols_list = md.cat_conv(df[categorical])

df.drop(categorical, axis = 1, inplace = True)
constructor_list = [df]
constructor_list.append(data_cat)
data_in = pd.concat(constructor_list, axis=1)

na_loc = data_in.isnull()
data_in[na_loc] = np.nan

In [16]:
print(data_in.head())

   Column 2  Column 3  Column 8  Column 11  Column 14  Column 15  Column 1_a  \
0    3083.0         0       125        1.0        202        0.0         0.0
1    5867.0       446       304        NaN         43      560.0         1.0
2     245.0         5        15        0.0        280      824.0         1.0
3    2783.0       154       375        5.0        100        3.0         0.0
4    2017.0      5625       171        0.0        120        0.0         0.0

   Column 1_b  Column 4_l  Column 4_u  ...  Column 7_z  Column 9_f  \
0         1.0         0.0         1.0  ...         0.0         0.0
1         0.0         0.0         1.0  ...         NaN         0.0
2         0.0         0.0         1.0  ...         0.0         0.0
3         1.0         0.0         1.0  ...         0.0         0.0
4         1.0         0.0         1.0  ...         0.0         0.0

   Column 9_t  Column 10_f  Column 10_t  Column 12_f  Column 12_t  \
0         1.0          0.0          1.0          1.0          0.0
1         1.0          0.0          1.0          1.0          0.0
2         1.0          1.0          0.0          1.0          0.0
3         1.0          0.0          1.0          0.0          1.0
4         1.0          1.0          0.0          1.0          0.0

   Column 13_g  Column 13_p  Column 13_s
0          1.0          0.0          0.0
1          1.0          0.0          0.0
2          1.0          0.0          0.0
3          1.0          0.0          0.0
4          0.0          0.0          1.0

[5 rows x 45 columns]

In [17]:
imputer = md.Midas(layer_structure = [45,45+20,45+20+20,45+20+20+20,45+20+20,45+20,45], vae_layer = False, seed = 100, input_drop = 0.5)
imputer.build_model(data_in,softmax_columns = cat_cols_list)
imputer.train_model(training_epochs = 100)

Size index: [6, 2, 3, 2, 14, 9, 2, 2, 2, 3]

Computation graph constructed

Model initialised

Epoch: 0 , loss: 9358.06885986328
Epoch: 1 , loss: 9576.803430175782
Epoch: 2 , loss: 9527.435729980469
Epoch: 3 , loss: 9426.02147216797
Epoch: 4 , loss: 9066.829284667969
Epoch: 5 , loss: 9570.154663085938
Epoch: 6 , loss: 9575.029357910156
Epoch: 7 , loss: 9616.852197265625
Epoch: 8 , loss: 9424.556677246093
Epoch: 9 , loss: 9633.207763671875
Epoch: 10 , loss: 9477.914245605469
Epoch: 11 , loss: 9472.839880371093
Epoch: 12 , loss: 9552.936560058593
Epoch: 13 , loss: 9524.058288574219
Epoch: 14 , loss: 9408.690112304688
Epoch: 15 , loss: 9630.689379882813
Epoch: 16 , loss: 9589.341088867188
Epoch: 17 , loss: 9515.465966796875
Epoch: 18 , loss: 9464.42286376953
Epoch: 19 , loss: 9403.186645507812
Epoch: 20 , loss: 9370.310314941406
Epoch: 21 , loss: 9465.58447265625
Epoch: 22 , loss: 9355.643359375
Epoch: 23 , loss: 9417.982568359375
Epoch: 24 , loss: 9543.64796142578
Epoch: 25 , loss: 9448.752661132812
Epoch: 26 , loss: 9416.960998535156
Epoch: 27 , loss: 9227.025109863282
Epoch: 28 , loss: 9584.178881835938
Epoch: 29 , loss: 9230.211645507812
Epoch: 30 , loss: 9530.247924804688
Epoch: 31 , loss: 9261.943139648438
Epoch: 32 , loss: 9448.26514892578
Epoch: 33 , loss: 9454.133996582032
Epoch: 34 , loss: 9548.891162109376
Epoch: 35 , loss: 9289.86923828125
Epoch: 36 , loss: 9310.397033691406
Epoch: 37 , loss: 9489.0255859375
Epoch: 38 , loss: 9434.326611328124
Epoch: 39 , loss: 9287.229193115234
Epoch: 40 , loss: 9329.124536132813
Epoch: 41 , loss: 9517.463598632812
Epoch: 42 , loss: 9309.086462402343
Epoch: 43 , loss: 9507.704028320313
Epoch: 44 , loss: 9103.842846679687
Epoch: 45 , loss: 8715.828637695313
Epoch: 46 , loss: 8683.335107421875
Epoch: 47 , loss: 8415.419653320312
Epoch: 48 , loss: 8324.228637695312
Epoch: 49 , loss: 8292.261950683594
Epoch: 50 , loss: 8291.116491699218
Epoch: 51 , loss: 7835.556201171875
Epoch: 52 , loss: 8140.753588867187
Epoch: 53 , loss: 7918.117736816406
Epoch: 54 , loss: 7975.3238525390625
Epoch: 55 , loss: 8088.328143310547
Epoch: 56 , loss: 8109.984893798828
Epoch: 57 , loss: 7975.858801269531
Epoch: 58 , loss: 8091.494952392578
Epoch: 59 , loss: 8158.806994628906
Epoch: 60 , loss: 8021.247607421875
Epoch: 61 , loss: 7975.269720458984
Epoch: 62 , loss: 8081.602911376953
Epoch: 63 , loss: 8190.086682128906
Epoch: 64 , loss: 8501.669329833985
Epoch: 65 , loss: 8384.290148925782
Epoch: 66 , loss: 8229.637463378906
Epoch: 67 , loss: 8347.313690185547
Epoch: 68 , loss: 8220.953912353516
Epoch: 69 , loss: 8132.692761230469
Epoch: 70 , loss: 8188.807147216797
Epoch: 71 , loss: 8161.886462402344
Epoch: 72 , loss: 8346.526275634766
Epoch: 73 , loss: 8468.485656738281
Epoch: 74 , loss: 8617.639892578125
Epoch: 75 , loss: 8382.792517089843
Epoch: 76 , loss: 8408.893505859374
Epoch: 77 , loss: 8307.488793945313
Epoch: 78 , loss: 8421.775427246093
Epoch: 79 , loss: 8408.951586914063
Epoch: 80 , loss: 8573.155395507812
Epoch: 81 , loss: 8532.03550415039
Epoch: 82 , loss: 8483.279809570313
Epoch: 83 , loss: 8494.613452148438
Epoch: 84 , loss: 8415.197631835938
Epoch: 85 , loss: 8550.57933959961
Epoch: 86 , loss: 8543.600152587891
Epoch: 87 , loss: 8512.75620727539
Epoch: 88 , loss: 8511.253247070312
Epoch: 89 , loss: 8471.703063964844
Epoch: 90 , loss: 8544.779968261719
Epoch: 91 , loss: 8776.471490478516
Epoch: 92 , loss: 8668.61890258789
Epoch: 93 , loss: 8595.784576416016
Epoch: 94 , loss: 8685.203588867187
Epoch: 95 , loss: 8643.607763671875
Epoch: 96 , loss: 8678.200134277344
Epoch: 97 , loss: 8618.013739013672
Epoch: 98 , loss: 8698.541137695312
Epoch: 99 , loss: 8638.810827636718
Training complete. Saving file...
Model saved in file: tmp/MIDAS

In [18]:
imputations = imputer.generate_samples(m=10).output_list

INFO:tensorflow:Restoring parameters from tmp/MIDAS
Model restored.

In [19]:
np.shape(imputations[-1])

(653, 45)

In [20]:
new_df=imputations[-1]

In [21]:
complete_df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\complete\Original Datasets Without Labels\CREDIT.xlsx',header=None,names=column_names)
complete_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,Column 11,Column 12,Column 13,Column 14,Column 15
0,b,3083,0,u,g,w,v,125,t,t,1,f,g,202,0
1,a,5867,446,u,g,q,h,304,t,t,6,f,g,43,560
2,a,245,5,u,g,q,h,15,t,f,0,f,g,280,824
3,b,2783,154,u,g,w,v,375,t,t,5,t,g,100,3
4,b,2017,5625,u,g,w,v,171,t,f,0,f,s,120,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,b,2108,10085,y,p,e,h,125,f,f,0,f,g,260,0
649,a,2267,75,u,g,c,v,2,f,t,2,t,g,200,394
650,a,2525,135,y,p,ff,ff,2,f,t,1,t,g,200,1
651,b,1792,205,u,g,aa,v,4,f,f,0,f,g,280,750
652,b,35,3375,u,g,c,h,829,f,f,0,t,g,0,0

In [22]:
flat_cats = [cat for variable in cat_cols_list for cat in variable]

for i in range(len(imputations)):
    tmp_cat = [imputations[i][x].idxmax(axis=1) for x in cat_cols_list]
    cat_df = pd.DataFrame({categorical[i]:tmp_cat[i] for i in range(len(categorical))})
    imputations[i] = pd.concat([imputations[i], cat_df], axis = 1).drop(flat_cats, axis = 1)

In [23]:
print(imputations[-1].columns)

Index(['Column 2', 'Column 3', 'Column 8', 'Column 11', 'Column 14',
       'Column 15', 'Column 1', 'Column 4', 'Column 5', 'Column 6', 'Column 7',
       'Column 9', 'Column 10', 'Column 12', 'Column 13'],
      dtype='object')

In [24]:
new_df=imputations[-1]
new_df

,Column 2,Column 3,Column 8,Column 11,Column 14,Column 15,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,3083.0,0,125,1.000000,202,0.0,Column 1_b,Column 4_u,Column 5_g,Column 6_w,Column 7_v,Column 9_t,Column 10_t,Column 12_f,Column 13_g
1,5867.0,446,304,-10.131643,43,560.0,Column 1_a,Column 4_u,Column 5_g,Column 6_q,Column 7_v,Column 9_t,Column 10_t,Column 12_f,Column 13_g
2,245.0,5,15,0.000000,280,824.0,Column 1_a,Column 4_u,Column 5_g,Column 6_q,Column 7_h,Column 9_t,Column 10_f,Column 12_f,Column 13_g
3,2783.0,154,375,5.000000,100,3.0,Column 1_b,Column 4_u,Column 5_g,Column 6_w,Column 7_v,Column 9_t,Column 10_t,Column 12_t,Column 13_g
4,2017.0,5625,171,0.000000,120,0.0,Column 1_b,Column 4_u,Column 5_g,Column 6_w,Column 7_v,Column 9_t,Column 10_f,Column 12_f,Column 13_s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,2108.0,10085,125,0.000000,260,0.0,Column 1_b,Column 4_y,Column 5_g,Column 6_e,Column 7_h,Column 9_f,Column 10_t,Column 12_f,Column 13_g
649,2267.0,75,2,2.000000,200,394.0,Column 1_a,Column 4_u,Column 5_g,Column 6_c,Column 7_v,Column 9_f,Column 10_t,Column 12_t,Column 13_g
650,2525.0,135,2,1.000000,200,1.0,Column 1_a,Column 4_y,Column 5_p,Column 6_ff,Column 7_ff,Column 9_f,Column 10_t,Column 12_t,Column 13_g
651,1792.0,205,4,0.000000,280,750.0,Column 1_b,Column 4_u,Column 5_g,Column 6_aa,Column 7_v,Column 9_f,Column 10_f,Column 12_f,Column 13_g
652,35.0,3375,829,0.000000,0,0.0,Column 1_b,Column 4_u,Column 5_g,Column 6_c,Column 7_h,Column 9_f,Column 10_f,Column 12_t,Column 13_g

In [25]:
new_df.columns

Index(['Column 2', 'Column 3', 'Column 8', 'Column 11', 'Column 14',
       'Column 15', 'Column 1', 'Column 4', 'Column 5', 'Column 6', 'Column 7',
       'Column 9', 'Column 10', 'Column 12', 'Column 13'],
      dtype='object')

In [26]:
cat_cols_list

[['Column 1_a', 'Column 1_b'],
 ['Column 4_l', 'Column 4_u', 'Column 4_y'],
 ['Column 5_g', 'Column 5_p'],
 ['Column 6_aa',
  'Column 6_c',
  'Column 6_cc',
  'Column 6_d',
  'Column 6_e',
  'Column 6_ff',
  'Column 6_i',
  'Column 6_j',
  'Column 6_k',
  'Column 6_m',
  'Column 6_q',
  'Column 6_r',
  'Column 6_w',
  'Column 6_x'],
 ['Column 7_bb',
  'Column 7_dd',
  'Column 7_ff',
  'Column 7_h',
  'Column 7_j',
  'Column 7_n',
  'Column 7_o',
  'Column 7_v',
  'Column 7_z'],
 ['Column 9_f', 'Column 9_t'],
 ['Column 10_f', 'Column 10_t'],
 ['Column 12_f', 'Column 12_t'],
 ['Column 13_g', 'Column 13_p', 'Column 13_s']]

In [27]:
def replace_column_values(dataframe):
    
    for col_name in categorical:
        data_list=dataframe[col_name]
        for index, data in enumerate(data_list):
            data=data.replace(col_name+'_','')
            data_list[index]=data
        dataframe[col_name]=data_list    
    return(dataframe)

In [28]:
mod_df=replace_column_values(new_df)
mod_df

C:\Users\furqz\AppData\Local\Temp/ipykernel_13828/3981746272.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_list[index]=data

,Column 2,Column 3,Column 8,Column 11,Column 14,Column 15,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,3083.0,0,125,1.000000,202,0.0,b,u,g,w,v,t,t,f,g
1,5867.0,446,304,-10.131643,43,560.0,a,u,g,q,v,t,t,f,g
2,245.0,5,15,0.000000,280,824.0,a,u,g,q,h,t,f,f,g
3,2783.0,154,375,5.000000,100,3.0,b,u,g,w,v,t,t,t,g
4,2017.0,5625,171,0.000000,120,0.0,b,u,g,w,v,t,f,f,s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,2108.0,10085,125,0.000000,260,0.0,b,y,g,e,h,f,t,f,g
649,2267.0,75,2,2.000000,200,394.0,a,u,g,c,v,f,t,t,g
650,2525.0,135,2,1.000000,200,1.0,a,y,p,ff,ff,f,t,t,g
651,1792.0,205,4,0.000000,280,750.0,b,u,g,aa,v,f,f,f,g
652,35.0,3375,829,0.000000,0,0.0,b,u,g,c,h,f,f,t,g

In [29]:
mod_df.dtypes

Column 2     float64
Column 3       int64
Column 8       int64
Column 11    float64
Column 14      int64
Column 15    float64
Column 1      object
Column 4      object
Column 5      object
Column 6      object
Column 7      object
Column 9      object
Column 10     object
Column 12     object
Column 13     object
dtype: object

In [30]:
mod_df=mod_df[complete_df.columns]
mod_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,Column 11,Column 12,Column 13,Column 14,Column 15
0,b,3083.0,0,u,g,w,v,125,t,t,1.000000,f,g,202,0.0
1,a,5867.0,446,u,g,q,v,304,t,t,-10.131643,f,g,43,560.0
2,a,245.0,5,u,g,q,h,15,t,f,0.000000,f,g,280,824.0
3,b,2783.0,154,u,g,w,v,375,t,t,5.000000,t,g,100,3.0
4,b,2017.0,5625,u,g,w,v,171,t,f,0.000000,f,s,120,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,b,2108.0,10085,y,g,e,h,125,f,t,0.000000,f,g,260,0.0
649,a,2267.0,75,u,g,c,v,2,f,t,2.000000,t,g,200,394.0
650,a,2525.0,135,y,p,ff,ff,2,f,t,1.000000,t,g,200,1.0
651,b,1792.0,205,u,g,aa,v,4,f,f,0.000000,f,g,280,750.0
652,b,35.0,3375,u,g,c,h,829,f,f,0.000000,t,g,0,0.0

calculating NRMSE

In [31]:
import math
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)


def Frobenius_norm(number):
    num=number
    abs_val=num.abs()
    power_abs=abs_val**2
    sum1=power_abs.sum()
    total_sum=Sum_new(sum1)
    return(math.sqrt(total_sum))

In [32]:
numerical_mod_df=mod_df[['Column 2','Column 3','Column 8','Column 11']]
cat_mod_df=mod_df[['Column 1','Column 4','Column 5','Column 6','Column 7','Column 9','Column 10','Column 12','Column 13']]
numerical_complete_df=complete_df[['Column 2','Column 3','Column 8','Column 11']]
cat_complete_df=complete_df[['Column 1','Column 4','Column 5','Column 6','Column 7','Column 9','Column 10','Column 12','Column 13']]
numerator=Frobenius_norm(numerical_mod_df-numerical_complete_df)
denominator=Frobenius_norm(numerical_complete_df)
numerator, denominator

(7637.662935869519, 122717.54732718544)

In [33]:
NRMS=numerator/denominator
NRMS

0.06223774107468295

calculating AE

In [34]:
copy_est_df=cat_mod_df.astype('string')

In [35]:
m=copy_est_df.astype('string')
m

,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,b,u,g,w,v,t,t,f,g
1,a,u,g,q,v,t,t,f,g
2,a,u,g,q,h,t,f,f,g
3,b,u,g,w,v,t,t,t,g
4,b,u,g,w,v,t,f,f,s
...,...,...,...,...,...,...,...,...,...
648,b,y,g,e,h,f,t,f,g
649,a,u,g,c,v,f,t,t,g
650,a,y,p,ff,ff,f,t,t,g
651,b,u,g,aa,v,f,f,f,g
652,b,u,g,c,h,f,f,t,g

In [36]:
cat_mod_df=pd.DataFrame(data=cat_mod_df)
cat_mod_df

,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,b,u,g,w,v,t,t,f,g
1,a,u,g,q,v,t,t,f,g
2,a,u,g,q,h,t,f,f,g
3,b,u,g,w,v,t,t,t,g
4,b,u,g,w,v,t,f,f,s
...,...,...,...,...,...,...,...,...,...
648,b,y,g,e,h,f,t,f,g
649,a,u,g,c,v,f,t,t,g
650,a,y,p,ff,ff,f,t,t,g
651,b,u,g,aa,v,f,f,f,g
652,b,u,g,c,h,f,f,t,g

In [37]:
cat_complete_df=pd.DataFrame(data=cat_complete_df)
cat_complete_df

,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,b,u,g,w,v,t,t,f,g
1,a,u,g,q,h,t,t,f,g
2,a,u,g,q,h,t,f,f,g
3,b,u,g,w,v,t,t,t,g
4,b,u,g,w,v,t,f,f,s
...,...,...,...,...,...,...,...,...,...
648,b,y,p,e,h,f,f,f,g
649,a,u,g,c,v,f,t,t,g
650,a,y,p,ff,ff,f,t,t,g
651,b,u,g,aa,v,f,f,f,g
652,b,u,g,c,h,f,f,t,g

In [38]:
# I function
def I_function(est_df,original_df):
    for col_name in est_df.columns:
    
        est_data_list=est_df[col_name].astype('string')
        #print(est_data_list.dtypes)
        org_data_list=original_df[col_name].astype('string')
        for index, data in enumerate(est_data_list):
            if est_data_list[index]==org_data_list[index]:
                est_data_list[index]='0'
            else:
                est_data_list[index]='1'
            
        est_df[col_name]=est_data_list
    return(est_df.astype('int64'))

In [39]:
#copy_est_df=I_function(copy_est_df,complete_df)
#copy_est_df

In [40]:
#copy_est_df.astype('int64')

In [41]:
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)

In [42]:

#copy_est_df.astype('int64').sum()

𝐴𝐸 = (1 /𝑛) ∑ 𝐼(𝑥̂𝑖 = 𝑥𝑖)

In [43]:
def AE(copy_est_df,original_df):
    copy_est_df=I_function(cat_mod_df.astype('string'),cat_complete_df.astype('string'))
    total_sum=copy_est_df.astype('int64').sum()
    final_sum=Sum_new(total_sum)
    ae=final_sum/(653*14)
    return(ae)

In [44]:
AE(copy_est_df,cat_complete_df)

0.013782542113323124

In [45]:
#imputations[-1]

In [47]:
mod_df.to_csv("CREDIT_AE_5(imputed).csv", index=False,header=False)