In [9]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md

In [10]:
column_names=['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15']
df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\incomplete\Incomplete Datasets Without Labels\CREDIT\CREDIT_AG_1.xlsx',header=None,names=column_names)
df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,Column 11,Column 12,Column 13,Column 14,Column 15
0,b,3083,0,u,g,w,v,125.0,t,t,1.0,f,g,202,0.0
1,a,5867,446,u,g,q,h,304.0,t,t,6.0,f,g,43,560.0
2,a,245,5,u,g,q,h,15.0,t,f,0.0,f,g,280,824.0
3,b,2783,154,u,g,w,v,375.0,t,t,5.0,t,g,100,3.0
4,b,2017,5625,u,g,w,v,171.0,t,f,0.0,f,s,120,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,b,2108,10085,y,p,e,h,125.0,f,f,0.0,f,g,260,0.0
649,a,2267,75,u,g,c,v,2.0,f,t,2.0,t,g,200,394.0
650,a,2525,135,y,p,ff,ff,2.0,f,t,1.0,t,g,200,1.0
651,b,1792,205,u,g,aa,v,4.0,f,f,0.0,f,g,280,750.0
652,b,35,3375,u,g,c,h,829.0,f,f,0.0,t,g,0,0.0

In [11]:
from tensorflow.python.framework import ops
ops.reset_default_graph()

In [12]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [13]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [14]:
import tensorflow.compat.v1 as tf
tf.reset_default_graph()

In [15]:
categorical = ['Column 1','Column 4','Column 5','Column 6','Column 7','Column 9','Column 10','Column 12','Column 13']
data_cat, cat_cols_list = md.cat_conv(df[categorical])

df.drop(categorical, axis = 1, inplace = True)
constructor_list = [df]
constructor_list.append(data_cat)
data_in = pd.concat(constructor_list, axis=1)

na_loc = data_in.isnull()
data_in[na_loc] = np.nan

In [16]:
print(data_in.head())

   Column 2  Column 3  Column 8  Column 11  Column 14  Column 15  Column 1_a  \
0      3083         0     125.0        1.0        202        0.0         0.0
1      5867       446     304.0        6.0         43      560.0         1.0
2       245         5      15.0        0.0        280      824.0         1.0
3      2783       154     375.0        5.0        100        3.0         0.0
4      2017      5625     171.0        0.0        120        0.0         0.0

   Column 1_b  Column 4_l  Column 4_u  ...  Column 7_z  Column 9_f  \
0         1.0         0.0         1.0  ...         0.0         0.0
1         0.0         0.0         1.0  ...         0.0         0.0
2         0.0         0.0         1.0  ...         0.0         0.0
3         1.0         0.0         1.0  ...         0.0         0.0
4         1.0         0.0         1.0  ...         0.0         0.0

   Column 9_t  Column 10_f  Column 10_t  Column 12_f  Column 12_t  \
0         1.0          0.0          1.0          1.0          0.0
1         1.0          0.0          1.0          1.0          0.0
2         1.0          1.0          0.0          1.0          0.0
3         1.0          0.0          1.0          0.0          1.0
4         1.0          1.0          0.0          1.0          0.0

   Column 13_g  Column 13_p  Column 13_s
0          1.0          0.0          0.0
1          1.0          0.0          0.0
2          1.0          0.0          0.0
3          1.0          0.0          0.0
4          0.0          0.0          1.0

[5 rows x 46 columns]

In [17]:
imputer = md.Midas(layer_structure = [46,46+20,46+20+20,46+20+20+20,46+20+20,46+20,46], vae_layer = False, seed = 100, input_drop = 0.5)
imputer.build_model(data_in,softmax_columns = cat_cols_list)
imputer.train_model(training_epochs = 100)

Size index: [6, 2, 3, 3, 14, 9, 2, 2, 2, 3]

Computation graph constructed

Model initialised

Epoch: 0 , loss: 9480.964501953125
Epoch: 1 , loss: 9718.270092773437
Epoch: 2 , loss: 9665.16455078125
Epoch: 3 , loss: 9585.700842285156
Epoch: 4 , loss: 9208.11229248047
Epoch: 5 , loss: 9706.155310058593
Epoch: 6 , loss: 9700.306176757813
Epoch: 7 , loss: 9757.537561035157
Epoch: 8 , loss: 9564.5697265625
Epoch: 9 , loss: 9774.29842529297
Epoch: 10 , loss: 9589.987768554687
Epoch: 11 , loss: 9577.457653808593
Epoch: 12 , loss: 9677.508520507812
Epoch: 13 , loss: 9672.465124511718
Epoch: 14 , loss: 9516.018334960938
Epoch: 15 , loss: 9735.084204101562
Epoch: 16 , loss: 9699.369860839844
Epoch: 17 , loss: 9630.282678222657
Epoch: 18 , loss: 9596.370385742188
Epoch: 19 , loss: 9524.555407714844
Epoch: 20 , loss: 9469.616528320312
Epoch: 21 , loss: 9578.57978515625
Epoch: 22 , loss: 9459.182983398438
Epoch: 23 , loss: 9525.614978027344
Epoch: 24 , loss: 9663.851879882812
Epoch: 25 , loss: 9566.943920898437
Epoch: 26 , loss: 9565.392687988282
Epoch: 27 , loss: 9379.94765625
Epoch: 28 , loss: 9702.145153808593
Epoch: 29 , loss: 9359.17764892578
Epoch: 30 , loss: 9641.755297851563
Epoch: 31 , loss: 9400.046740722657
Epoch: 32 , loss: 9549.667333984375
Epoch: 33 , loss: 9561.00263671875
Epoch: 34 , loss: 9706.61572265625
Epoch: 35 , loss: 9429.658642578124
Epoch: 36 , loss: 9453.519494628907
Epoch: 37 , loss: 9620.562231445312
Epoch: 38 , loss: 9548.562390136718
Epoch: 39 , loss: 9398.808074951172
Epoch: 40 , loss: 9433.675573730468
Epoch: 41 , loss: 9453.786853027344
Epoch: 42 , loss: 8922.562805175781
Epoch: 43 , loss: 8926.266870117188
Epoch: 44 , loss: 8595.028649902344
Epoch: 45 , loss: 8384.522821044922
Epoch: 46 , loss: 8469.591345214843
Epoch: 47 , loss: 8253.627404785157
Epoch: 48 , loss: 8176.373309326172
Epoch: 49 , loss: 8141.601733398437
Epoch: 50 , loss: 8361.59676513672
Epoch: 51 , loss: 7850.045178222656
Epoch: 52 , loss: 8294.839837646485
Epoch: 53 , loss: 8074.067639160156
Epoch: 54 , loss: 8063.701812744141
Epoch: 55 , loss: 8333.958361816407
Epoch: 56 , loss: 8469.91591796875
Epoch: 57 , loss: 8370.297802734374
Epoch: 58 , loss: 8351.341186523438
Epoch: 59 , loss: 8352.786981201172
Epoch: 60 , loss: 8396.623376464844
Epoch: 61 , loss: 8441.961462402343
Epoch: 62 , loss: 8351.127349853516
Epoch: 63 , loss: 8365.696221923828
Epoch: 64 , loss: 8760.479931640624
Epoch: 65 , loss: 8518.748742675782
Epoch: 66 , loss: 8519.81845703125
Epoch: 67 , loss: 8626.324108886718
Epoch: 68 , loss: 8546.455395507812
Epoch: 69 , loss: 8463.583117675782
Epoch: 70 , loss: 8502.265466308594
Epoch: 71 , loss: 8575.625659179688
Epoch: 72 , loss: 8593.288641357422
Epoch: 73 , loss: 8788.400073242188
Epoch: 74 , loss: 8765.668835449218
Epoch: 75 , loss: 8607.065423583985
Epoch: 76 , loss: 8642.382287597657
Epoch: 77 , loss: 8555.373089599609
Epoch: 78 , loss: 8481.732397460937
Epoch: 79 , loss: 8460.11167602539
Epoch: 80 , loss: 8734.09862060547
Epoch: 81 , loss: 8722.615460205077
Epoch: 82 , loss: 8730.846032714844
Epoch: 83 , loss: 8713.171154785156
Epoch: 84 , loss: 8583.720849609375
Epoch: 85 , loss: 8644.635852050782
Epoch: 86 , loss: 8633.5564453125
Epoch: 87 , loss: 8595.086535644532
Epoch: 88 , loss: 8512.293420410157
Epoch: 89 , loss: 8634.29591064453
Epoch: 90 , loss: 8699.591888427734
Epoch: 91 , loss: 9018.746044921874
Epoch: 92 , loss: 8837.40601196289
Epoch: 93 , loss: 8672.82933959961
Epoch: 94 , loss: 8693.99423828125
Epoch: 95 , loss: 8704.892309570312
Epoch: 96 , loss: 8658.505413818359
Epoch: 97 , loss: 8763.554638671874
Epoch: 98 , loss: 8794.640850830077
Epoch: 99 , loss: 8754.395874023438
Training complete. Saving file...
Model saved in file: tmp/MIDAS

In [18]:
imputations = imputer.generate_samples(m=10).output_list

INFO:tensorflow:Restoring parameters from tmp/MIDAS
Model restored.

In [19]:
np.shape(imputations[-1])

(653, 46)

In [20]:
new_df=imputations[-1]

In [21]:
complete_df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\complete\Original Datasets Without Labels\CREDIT.xlsx',header=None,names=column_names)
complete_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,Column 11,Column 12,Column 13,Column 14,Column 15
0,b,3083,0,u,g,w,v,125,t,t,1,f,g,202,0
1,a,5867,446,u,g,q,h,304,t,t,6,f,g,43,560
2,a,245,5,u,g,q,h,15,t,f,0,f,g,280,824
3,b,2783,154,u,g,w,v,375,t,t,5,t,g,100,3
4,b,2017,5625,u,g,w,v,171,t,f,0,f,s,120,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,b,2108,10085,y,p,e,h,125,f,f,0,f,g,260,0
649,a,2267,75,u,g,c,v,2,f,t,2,t,g,200,394
650,a,2525,135,y,p,ff,ff,2,f,t,1,t,g,200,1
651,b,1792,205,u,g,aa,v,4,f,f,0,f,g,280,750
652,b,35,3375,u,g,c,h,829,f,f,0,t,g,0,0

In [22]:
flat_cats = [cat for variable in cat_cols_list for cat in variable]

for i in range(len(imputations)):
    tmp_cat = [imputations[i][x].idxmax(axis=1) for x in cat_cols_list]
    cat_df = pd.DataFrame({categorical[i]:tmp_cat[i] for i in range(len(categorical))})
    imputations[i] = pd.concat([imputations[i], cat_df], axis = 1).drop(flat_cats, axis = 1)

In [23]:
print(imputations[-1].columns)

Index(['Column 2', 'Column 3', 'Column 8', 'Column 11', 'Column 14',
       'Column 15', 'Column 1', 'Column 4', 'Column 5', 'Column 6', 'Column 7',
       'Column 9', 'Column 10', 'Column 12', 'Column 13'],
      dtype='object')

In [24]:
new_df=imputations[-1]
new_df

,Column 2,Column 3,Column 8,Column 11,Column 14,Column 15,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,3083,0,125.0,1.0,202,0.0,Column 1_b,Column 4_u,Column 5_g,Column 6_w,Column 7_v,Column 9_t,Column 10_t,Column 12_f,Column 13_g
1,5867,446,304.0,6.0,43,560.0,Column 1_a,Column 4_u,Column 5_g,Column 6_q,Column 7_h,Column 9_t,Column 10_t,Column 12_f,Column 13_g
2,245,5,15.0,0.0,280,824.0,Column 1_a,Column 4_u,Column 5_g,Column 6_q,Column 7_h,Column 9_t,Column 10_f,Column 12_f,Column 13_g
3,2783,154,375.0,5.0,100,3.0,Column 1_b,Column 4_u,Column 5_g,Column 6_w,Column 7_v,Column 9_t,Column 10_t,Column 12_t,Column 13_g
4,2017,5625,171.0,0.0,120,0.0,Column 1_b,Column 4_u,Column 5_g,Column 6_w,Column 7_v,Column 9_t,Column 10_f,Column 12_f,Column 13_s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,2108,10085,125.0,0.0,260,0.0,Column 1_b,Column 4_y,Column 5_p,Column 6_e,Column 7_h,Column 9_f,Column 10_f,Column 12_f,Column 13_g
649,2267,75,2.0,2.0,200,394.0,Column 1_a,Column 4_u,Column 5_g,Column 6_c,Column 7_v,Column 9_f,Column 10_t,Column 12_t,Column 13_g
650,2525,135,2.0,1.0,200,1.0,Column 1_a,Column 4_y,Column 5_p,Column 6_ff,Column 7_ff,Column 9_f,Column 10_t,Column 12_t,Column 13_g
651,1792,205,4.0,0.0,280,750.0,Column 1_b,Column 4_u,Column 5_g,Column 6_aa,Column 7_v,Column 9_f,Column 10_f,Column 12_f,Column 13_g
652,35,3375,829.0,0.0,0,0.0,Column 1_b,Column 4_u,Column 5_g,Column 6_c,Column 7_h,Column 9_f,Column 10_f,Column 12_t,Column 13_g

In [25]:
new_df.columns

Index(['Column 2', 'Column 3', 'Column 8', 'Column 11', 'Column 14',
       'Column 15', 'Column 1', 'Column 4', 'Column 5', 'Column 6', 'Column 7',
       'Column 9', 'Column 10', 'Column 12', 'Column 13'],
      dtype='object')

In [26]:
cat_cols_list

[['Column 1_a', 'Column 1_b'],
 ['Column 4_l', 'Column 4_u', 'Column 4_y'],
 ['Column 5_g', 'Column 5_gg', 'Column 5_p'],
 ['Column 6_aa',
  'Column 6_c',
  'Column 6_cc',
  'Column 6_d',
  'Column 6_e',
  'Column 6_ff',
  'Column 6_i',
  'Column 6_j',
  'Column 6_k',
  'Column 6_m',
  'Column 6_q',
  'Column 6_r',
  'Column 6_w',
  'Column 6_x'],
 ['Column 7_bb',
  'Column 7_dd',
  'Column 7_ff',
  'Column 7_h',
  'Column 7_j',
  'Column 7_n',
  'Column 7_o',
  'Column 7_v',
  'Column 7_z'],
 ['Column 9_f', 'Column 9_t'],
 ['Column 10_f', 'Column 10_t'],
 ['Column 12_f', 'Column 12_t'],
 ['Column 13_g', 'Column 13_p', 'Column 13_s']]

In [27]:
def replace_column_values(dataframe):
    
    for col_name in categorical:
        data_list=dataframe[col_name]
        for index, data in enumerate(data_list):
            data=data.replace(col_name+'_','')
            data_list[index]=data
        dataframe[col_name]=data_list    
    return(dataframe)

In [28]:
mod_df=replace_column_values(new_df)
mod_df

C:\Users\furqz\AppData\Local\Temp/ipykernel_10908/3981746272.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_list[index]=data

,Column 2,Column 3,Column 8,Column 11,Column 14,Column 15,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,3083,0,125.0,1.0,202,0.0,b,u,g,w,v,t,t,f,g
1,5867,446,304.0,6.0,43,560.0,a,u,g,q,h,t,t,f,g
2,245,5,15.0,0.0,280,824.0,a,u,g,q,h,t,f,f,g
3,2783,154,375.0,5.0,100,3.0,b,u,g,w,v,t,t,t,g
4,2017,5625,171.0,0.0,120,0.0,b,u,g,w,v,t,f,f,s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,2108,10085,125.0,0.0,260,0.0,b,y,p,e,h,f,f,f,g
649,2267,75,2.0,2.0,200,394.0,a,u,g,c,v,f,t,t,g
650,2525,135,2.0,1.0,200,1.0,a,y,p,ff,ff,f,t,t,g
651,1792,205,4.0,0.0,280,750.0,b,u,g,aa,v,f,f,f,g
652,35,3375,829.0,0.0,0,0.0,b,u,g,c,h,f,f,t,g

In [29]:
mod_df.dtypes

Column 2       int64
Column 3       int64
Column 8     float64
Column 11    float64
Column 14      int64
Column 15    float64
Column 1      object
Column 4      object
Column 5      object
Column 6      object
Column 7      object
Column 9      object
Column 10     object
Column 12     object
Column 13     object
dtype: object

In [30]:
mod_df=mod_df[complete_df.columns]
mod_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,Column 11,Column 12,Column 13,Column 14,Column 15
0,b,3083,0,u,g,w,v,125.0,t,t,1.0,f,g,202,0.0
1,a,5867,446,u,g,q,h,304.0,t,t,6.0,f,g,43,560.0
2,a,245,5,u,g,q,h,15.0,t,f,0.0,f,g,280,824.0
3,b,2783,154,u,g,w,v,375.0,t,t,5.0,t,g,100,3.0
4,b,2017,5625,u,g,w,v,171.0,t,f,0.0,f,s,120,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,b,2108,10085,y,p,e,h,125.0,f,f,0.0,f,g,260,0.0
649,a,2267,75,u,g,c,v,2.0,f,t,2.0,t,g,200,394.0
650,a,2525,135,y,p,ff,ff,2.0,f,t,1.0,t,g,200,1.0
651,b,1792,205,u,g,aa,v,4.0,f,f,0.0,f,g,280,750.0
652,b,35,3375,u,g,c,h,829.0,f,f,0.0,t,g,0,0.0

calculating NRMSE

In [31]:
import math
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)


def Frobenius_norm(number):
    num=number
    abs_val=num.abs()
    power_abs=abs_val**2
    sum1=power_abs.sum()
    total_sum=Sum_new(sum1)
    return(math.sqrt(total_sum))

In [32]:
numerical_mod_df=mod_df[['Column 2','Column 3','Column 8','Column 11']]
cat_mod_df=mod_df[['Column 1','Column 4','Column 5','Column 6','Column 7','Column 9','Column 10','Column 12','Column 13']]
numerical_complete_df=complete_df[['Column 2','Column 3','Column 8','Column 11']]
cat_complete_df=complete_df[['Column 1','Column 4','Column 5','Column 6','Column 7','Column 9','Column 10','Column 12','Column 13']]
numerator=Frobenius_norm(numerical_mod_df-numerical_complete_df)
denominator=Frobenius_norm(numerical_complete_df)
numerator, denominator

(1853.4604674218685, 122717.54732718544)

In [33]:
NRMS=numerator/denominator
NRMS

0.015103467334465494

calculating AE

In [34]:
copy_est_df=cat_mod_df.astype('string')

In [35]:
m=copy_est_df.astype('string')
m

,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,b,u,g,w,v,t,t,f,g
1,a,u,g,q,h,t,t,f,g
2,a,u,g,q,h,t,f,f,g
3,b,u,g,w,v,t,t,t,g
4,b,u,g,w,v,t,f,f,s
...,...,...,...,...,...,...,...,...,...
648,b,y,p,e,h,f,f,f,g
649,a,u,g,c,v,f,t,t,g
650,a,y,p,ff,ff,f,t,t,g
651,b,u,g,aa,v,f,f,f,g
652,b,u,g,c,h,f,f,t,g

In [36]:
cat_mod_df=pd.DataFrame(data=cat_mod_df)
cat_mod_df

,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,b,u,g,w,v,t,t,f,g
1,a,u,g,q,h,t,t,f,g
2,a,u,g,q,h,t,f,f,g
3,b,u,g,w,v,t,t,t,g
4,b,u,g,w,v,t,f,f,s
...,...,...,...,...,...,...,...,...,...
648,b,y,p,e,h,f,f,f,g
649,a,u,g,c,v,f,t,t,g
650,a,y,p,ff,ff,f,t,t,g
651,b,u,g,aa,v,f,f,f,g
652,b,u,g,c,h,f,f,t,g

In [37]:
cat_complete_df=pd.DataFrame(data=cat_complete_df)
cat_complete_df

,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,b,u,g,w,v,t,t,f,g
1,a,u,g,q,h,t,t,f,g
2,a,u,g,q,h,t,f,f,g
3,b,u,g,w,v,t,t,t,g
4,b,u,g,w,v,t,f,f,s
...,...,...,...,...,...,...,...,...,...
648,b,y,p,e,h,f,f,f,g
649,a,u,g,c,v,f,t,t,g
650,a,y,p,ff,ff,f,t,t,g
651,b,u,g,aa,v,f,f,f,g
652,b,u,g,c,h,f,f,t,g

In [38]:
# I function
def I_function(est_df,original_df):
    for col_name in est_df.columns:
    
        est_data_list=est_df[col_name].astype('string')
        #print(est_data_list.dtypes)
        org_data_list=original_df[col_name].astype('string')
        for index, data in enumerate(est_data_list):
            if est_data_list[index]==org_data_list[index]:
                est_data_list[index]='0'
            else:
                est_data_list[index]='1'
            
        est_df[col_name]=est_data_list
    return(est_df.astype('int64'))

In [39]:
#copy_est_df=I_function(copy_est_df,complete_df)
#copy_est_df

In [40]:
#copy_est_df.astype('int64')

In [41]:
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)

In [42]:

#copy_est_df.astype('int64').sum()

𝐴𝐸 = (1 /𝑛) ∑ 𝐼(𝑥̂𝑖 = 𝑥𝑖)

In [43]:
def AE(copy_est_df,original_df):
    copy_est_df=I_function(cat_mod_df.astype('string'),cat_complete_df.astype('string'))
    total_sum=copy_est_df.astype('int64').sum()
    final_sum=Sum_new(total_sum)
    ae=final_sum/(653*14)
    return(ae)

In [44]:
AE(copy_est_df,cat_complete_df)

0.0030627871362940277

In [45]:
#imputations[-1]

In [47]:
mod_df.to_csv("CREDIT_AG_1(imp).csv", index=False,header=False)