In [17]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md

In [18]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [19]:
from tensorflow.python.framework import ops
ops.reset_default_graph()

In [20]:
column_names=['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15']
df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\incomplete\Incomplete Datasets Without Labels\CREDIT\CREDIT_C_10.xlsx',header=None,names=column_names)
df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,Column 11,Column 12,Column 13,Column 14,Column 15
0,b,3083.0,0.0,u,g,w,v,125.0,NaN,t,1.0,NaN,g,202.0,0.0
1,a,5867.0,446.0,u,g,q,h,304.0,t,t,6.0,f,g,43.0,560.0
2,a,245.0,5.0,u,g,q,h,15.0,t,f,0.0,f,g,280.0,824.0
3,b,2783.0,154.0,u,g,w,v,375.0,t,t,5.0,t,g,100.0,3.0
4,b,2017.0,5625.0,u,g,w,v,171.0,t,f,0.0,f,s,120.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,b,NaN,10085.0,y,p,e,h,NaN,f,f,0.0,NaN,g,NaN,0.0
649,a,2267.0,75.0,u,g,c,v,2.0,f,t,2.0,NaN,g,200.0,394.0
650,a,NaN,135.0,y,p,ff,NaN,2.0,f,t,1.0,t,g,200.0,1.0
651,b,1792.0,205.0,u,NaN,NaN,v,NaN,f,f,0.0,NaN,g,NaN,750.0
652,b,35.0,3375.0,u,NaN,c,h,829.0,f,f,0.0,t,NaN,NaN,0.0

In [21]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [22]:
import tensorflow.compat.v1 as tf
tf.reset_default_graph()

In [23]:
categorical = ['Column 1','Column 4','Column 5','Column 6','Column 7','Column 9','Column 10','Column 12','Column 13']
data_cat, cat_cols_list = md.cat_conv(df[categorical])

df.drop(categorical, axis = 1, inplace = True)
constructor_list = [df]
constructor_list.append(data_cat)
data_in = pd.concat(constructor_list, axis=1)

na_loc = data_in.isnull()
data_in[na_loc] = np.nan

In [8]:
print(data_in.head())

                      Column 1  Column 2 Column 3 Column 4 Column 6 Column 7  \
b 3083.0 0.0    u g w        v     125.0      NaN        t      NaN        g
a 5867.0 446.0  u g q        h     304.0        t        t        f        g
  245.0  5.0    u g q        h      15.0        t        f        f        g
b 2783.0 154.0  u g w        v     375.0        t        t        t        g
  2017.0 5625.0 u g w        v     171.0        t        f        f        s

                       Column 8  Column 9  Column 5_0.0  Column 5_1.0  ...  \
b 3083.0 0.0    u g w     202.0       0.0           0.0           1.0  ...
a 5867.0 446.0  u g q      43.0     560.0           0.0           0.0  ...
  245.0  5.0    u g q     280.0     824.0           1.0           0.0  ...
b 2783.0 154.0  u g w     100.0       3.0           0.0           0.0  ...
  2017.0 5625.0 u g w     120.0       0.0           1.0           0.0  ...

                       Column 5_13.0  Column 5_14.0  Column 5_15.0  \
b 3083.0 0.0    u g w            0.0            0.0            0.0
a 5867.0 446.0  u g q            0.0            0.0            0.0
  245.0  5.0    u g q            0.0            0.0            0.0
b 2783.0 154.0  u g w            0.0            0.0            0.0
  2017.0 5625.0 u g w            0.0            0.0            0.0

                       Column 5_16.0  Column 5_17.0  Column 5_19.0  \
b 3083.0 0.0    u g w            0.0            0.0            0.0
a 5867.0 446.0  u g q            0.0            0.0            0.0
  245.0  5.0    u g q            0.0            0.0            0.0
b 2783.0 154.0  u g w            0.0            0.0            0.0
  2017.0 5625.0 u g w            0.0            0.0            0.0

                       Column 5_20.0  Column 5_23.0  Column 5_40.0  \
b 3083.0 0.0    u g w            0.0            0.0            0.0
a 5867.0 446.0  u g q            0.0            0.0            0.0
  245.0  5.0    u g q            0.0            0.0            0.0
b 2783.0 154.0  u g w            0.0            0.0            0.0
  2017.0 5625.0 u g w            0.0            0.0            0.0

                       Column 5_67.0
b 3083.0 0.0    u g w            0.0
a 5867.0 446.0  u g q            0.0
  245.0  5.0    u g q            0.0
b 2783.0 154.0  u g w            0.0
  2017.0 5625.0 u g w            0.0

[5 rows x 31 columns]

In [24]:
imputer = md.Midas(layer_structure = [31,31+20,31+20+20,31+20+20+20,31+20+20,31+20,31], vae_layer = False, seed = 100, input_drop = 0.5)
imputer.build_model(data_in,softmax_columns = cat_cols_list)
imputer.train_model(training_epochs = 100)

Size index: [6, 2, 3, 3, 14, 9, 2, 2, 2, 3]

Computation graph constructed

Model initialised

Epoch: 0 , loss: 8345.175109863281
Epoch: 1 , loss: 8499.927764892578
Epoch: 2 , loss: 8515.750549316406
Epoch: 3 , loss: 8428.109191894531
Epoch: 4 , loss: 8407.083911132813
Epoch: 5 , loss: 8487.633184814453
Epoch: 6 , loss: 8496.651245117188
Epoch: 7 , loss: 8454.391491699218
Epoch: 8 , loss: 8305.285455322266
Epoch: 9 , loss: 8477.549621582031
Epoch: 10 , loss: 8460.067077636719
Epoch: 11 , loss: 8340.05411376953
Epoch: 12 , loss: 8465.436804199218
Epoch: 13 , loss: 8393.473736572265
Epoch: 14 , loss: 8275.89696044922
Epoch: 15 , loss: 8542.60596923828
Epoch: 16 , loss: 8528.453784179688
Epoch: 17 , loss: 8396.152124023438
Epoch: 18 , loss: 8364.782061767579
Epoch: 19 , loss: 8250.3912109375
Epoch: 20 , loss: 8235.069360351563
Epoch: 21 , loss: 8375.646759033203
Epoch: 22 , loss: 8256.260961914062
Epoch: 23 , loss: 8263.113586425781
Epoch: 24 , loss: 8402.036999511718
Epoch: 25 , loss: 8413.448834228515
Epoch: 26 , loss: 8342.727294921875
Epoch: 27 , loss: 8170.227368164063
Epoch: 28 , loss: 8460.35556640625
Epoch: 29 , loss: 8404.2701171875
Epoch: 30 , loss: 8386.749890136718
Epoch: 31 , loss: 8202.660876464844
Epoch: 32 , loss: 8387.379272460938
Epoch: 33 , loss: 8389.124114990234
Epoch: 34 , loss: 8521.677435302734
Epoch: 35 , loss: 8324.274267578125
Epoch: 36 , loss: 8288.584478759765
Epoch: 37 , loss: 8395.490289306641
Epoch: 38 , loss: 8422.802703857422
Epoch: 39 , loss: 8276.195123291016
Epoch: 40 , loss: 8353.988201904296
Epoch: 41 , loss: 8500.07445678711
Epoch: 42 , loss: 8214.541577148437
Epoch: 43 , loss: 8523.327807617188
Epoch: 44 , loss: 8381.745629882813
Epoch: 45 , loss: 8215.055047607422
Epoch: 46 , loss: 8363.751232910156
Epoch: 47 , loss: 8422.673474121093
Epoch: 48 , loss: 8294.914221191406
Epoch: 49 , loss: 8288.823541259766
Epoch: 50 , loss: 8430.734240722657
Epoch: 51 , loss: 8418.889318847656
Epoch: 52 , loss: 8328.971240234376
Epoch: 53 , loss: 8258.211181640625
Epoch: 54 , loss: 8249.20164794922
Epoch: 55 , loss: 8441.80590209961
Epoch: 56 , loss: 8473.186218261719
Epoch: 57 , loss: 8345.134619140625
Epoch: 58 , loss: 8142.706750488282
Epoch: 59 , loss: 7796.556335449219
Epoch: 60 , loss: 7748.9119140625
Epoch: 61 , loss: 7607.488287353515
Epoch: 62 , loss: 7490.4984375
Epoch: 63 , loss: 7516.890539550781
Epoch: 64 , loss: 7572.496557617187
Epoch: 65 , loss: 7429.895782470703
Epoch: 66 , loss: 7406.459399414062
Epoch: 67 , loss: 7634.627062988281
Epoch: 68 , loss: 7416.019799804688
Epoch: 69 , loss: 7480.983459472656
Epoch: 70 , loss: 7483.152362060547
Epoch: 71 , loss: 7481.416687011719
Epoch: 72 , loss: 7615.544891357422
Epoch: 73 , loss: 7729.255822753907
Epoch: 74 , loss: 7786.0927734375
Epoch: 75 , loss: 7653.036401367188
Epoch: 76 , loss: 7623.725573730469
Epoch: 77 , loss: 7791.820776367187
Epoch: 78 , loss: 7776.317163085938
Epoch: 79 , loss: 7590.6388488769535
Epoch: 80 , loss: 7915.122253417969
Epoch: 81 , loss: 7852.919342041016
Epoch: 82 , loss: 7881.545300292969
Epoch: 83 , loss: 8140.113549804688
Epoch: 84 , loss: 8003.813720703125
Epoch: 85 , loss: 8096.300061035156
Epoch: 86 , loss: 8148.61156616211
Epoch: 87 , loss: 8179.294934082031
Epoch: 88 , loss: 8163.464294433594
Epoch: 89 , loss: 8285.99892578125
Epoch: 90 , loss: 8344.667437744141
Epoch: 91 , loss: 8566.405682373046
Epoch: 92 , loss: 8404.376049804687
Epoch: 93 , loss: 8330.761828613282
Epoch: 94 , loss: 8488.46337890625
Epoch: 95 , loss: 8345.23143310547
Epoch: 96 , loss: 8340.585131835938
Epoch: 97 , loss: 8406.72861328125
Epoch: 98 , loss: 8529.496240234375
Epoch: 99 , loss: 8522.328955078125
Training complete. Saving file...
Model saved in file: tmp/MIDAS

In [25]:
imputations = imputer.generate_samples(m=10).output_list

INFO:tensorflow:Restoring parameters from tmp/MIDAS
Model restored.

In [26]:
np.shape(imputations[-1])

(653, 46)

In [27]:
new_df=imputations[-1]

In [28]:
complete_df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\complete\Original Datasets Without Labels\CREDIT.xlsx',header=None,names=column_names)
complete_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,Column 11,Column 12,Column 13,Column 14,Column 15
0,b,3083,0,u,g,w,v,125,t,t,1,f,g,202,0
1,a,5867,446,u,g,q,h,304,t,t,6,f,g,43,560
2,a,245,5,u,g,q,h,15,t,f,0,f,g,280,824
3,b,2783,154,u,g,w,v,375,t,t,5,t,g,100,3
4,b,2017,5625,u,g,w,v,171,t,f,0,f,s,120,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,b,2108,10085,y,p,e,h,125,f,f,0,f,g,260,0
649,a,2267,75,u,g,c,v,2,f,t,2,t,g,200,394
650,a,2525,135,y,p,ff,ff,2,f,t,1,t,g,200,1
651,b,1792,205,u,g,aa,v,4,f,f,0,f,g,280,750
652,b,35,3375,u,g,c,h,829,f,f,0,t,g,0,0

In [29]:
flat_cats = [cat for variable in cat_cols_list for cat in variable]

for i in range(len(imputations)):
    tmp_cat = [imputations[i][x].idxmax(axis=1) for x in cat_cols_list]
    cat_df = pd.DataFrame({categorical[i]:tmp_cat[i] for i in range(len(categorical))})
    imputations[i] = pd.concat([imputations[i], cat_df], axis = 1).drop(flat_cats, axis = 1)

In [30]:
print(imputations[-1].columns)

Index(['Column 2', 'Column 3', 'Column 8', 'Column 11', 'Column 14',
       'Column 15', 'Column 1', 'Column 4', 'Column 5', 'Column 6', 'Column 7',
       'Column 9', 'Column 10', 'Column 12', 'Column 13'],
      dtype='object')

In [31]:
new_df=imputations[-1]
new_df

,Column 2,Column 3,Column 8,Column 11,Column 14,Column 15,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,3083.000000,0.0,125.000000,1.0,202.000000,0.0,Column 1_b,Column 4_u,Column 5_g,Column 6_w,Column 7_v,Column 9_t,Column 10_t,Column 12_f,Column 13_g
1,5867.000000,446.0,304.000000,6.0,43.000000,560.0,Column 1_a,Column 4_u,Column 5_g,Column 6_q,Column 7_h,Column 9_t,Column 10_t,Column 12_f,Column 13_g
2,245.000000,5.0,15.000000,0.0,280.000000,824.0,Column 1_a,Column 4_u,Column 5_g,Column 6_q,Column 7_h,Column 9_t,Column 10_f,Column 12_f,Column 13_g
3,2783.000000,154.0,375.000000,5.0,100.000000,3.0,Column 1_b,Column 4_u,Column 5_g,Column 6_w,Column 7_v,Column 9_t,Column 10_t,Column 12_t,Column 13_g
4,2017.000000,5625.0,171.000000,0.0,120.000000,0.0,Column 1_b,Column 4_u,Column 5_g,Column 6_w,Column 7_v,Column 9_t,Column 10_f,Column 12_f,Column 13_s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,2.251462,10085.0,1.239905,0.0,1.374858,0.0,Column 1_b,Column 4_y,Column 5_p,Column 6_e,Column 7_h,Column 9_f,Column 10_f,Column 12_f,Column 13_g
649,2267.000000,75.0,2.000000,2.0,200.000000,394.0,Column 1_a,Column 4_u,Column 5_g,Column 6_c,Column 7_v,Column 9_f,Column 10_t,Column 12_f,Column 13_g
650,1.238114,135.0,2.000000,1.0,200.000000,1.0,Column 1_a,Column 4_y,Column 5_p,Column 6_ff,Column 7_v,Column 9_f,Column 10_t,Column 12_t,Column 13_g
651,1792.000000,205.0,0.823794,0.0,0.943431,750.0,Column 1_b,Column 4_u,Column 5_g,Column 6_c,Column 7_v,Column 9_f,Column 10_f,Column 12_f,Column 13_g
652,35.000000,3375.0,829.000000,0.0,1.023071,0.0,Column 1_b,Column 4_u,Column 5_g,Column 6_c,Column 7_h,Column 9_f,Column 10_f,Column 12_t,Column 13_g

In [32]:
new_df.columns

Index(['Column 2', 'Column 3', 'Column 8', 'Column 11', 'Column 14',
       'Column 15', 'Column 1', 'Column 4', 'Column 5', 'Column 6', 'Column 7',
       'Column 9', 'Column 10', 'Column 12', 'Column 13'],
      dtype='object')

In [33]:
cat_cols_list

[['Column 1_a', 'Column 1_b'],
 ['Column 4_l', 'Column 4_u', 'Column 4_y'],
 ['Column 5_g', 'Column 5_gg', 'Column 5_p'],
 ['Column 6_aa',
  'Column 6_c',
  'Column 6_cc',
  'Column 6_d',
  'Column 6_e',
  'Column 6_ff',
  'Column 6_i',
  'Column 6_j',
  'Column 6_k',
  'Column 6_m',
  'Column 6_q',
  'Column 6_r',
  'Column 6_w',
  'Column 6_x'],
 ['Column 7_bb',
  'Column 7_dd',
  'Column 7_ff',
  'Column 7_h',
  'Column 7_j',
  'Column 7_n',
  'Column 7_o',
  'Column 7_v',
  'Column 7_z'],
 ['Column 9_f', 'Column 9_t'],
 ['Column 10_f', 'Column 10_t'],
 ['Column 12_f', 'Column 12_t'],
 ['Column 13_g', 'Column 13_p', 'Column 13_s']]

In [34]:
def replace_column_values(dataframe):
    
    for col_name in categorical:
        data_list=dataframe[col_name]
        for index, data in enumerate(data_list):
            data=data.replace(col_name+'_','')
            data_list[index]=data
        dataframe[col_name]=data_list    
    return(dataframe)

In [35]:
mod_df=replace_column_values(new_df)
mod_df

C:\Users\furqz\AppData\Local\Temp/ipykernel_19676/3981746272.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_list[index]=data

,Column 2,Column 3,Column 8,Column 11,Column 14,Column 15,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,3083.000000,0.0,125.000000,1.0,202.000000,0.0,b,u,g,w,v,t,t,f,g
1,5867.000000,446.0,304.000000,6.0,43.000000,560.0,a,u,g,q,h,t,t,f,g
2,245.000000,5.0,15.000000,0.0,280.000000,824.0,a,u,g,q,h,t,f,f,g
3,2783.000000,154.0,375.000000,5.0,100.000000,3.0,b,u,g,w,v,t,t,t,g
4,2017.000000,5625.0,171.000000,0.0,120.000000,0.0,b,u,g,w,v,t,f,f,s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,2.251462,10085.0,1.239905,0.0,1.374858,0.0,b,y,p,e,h,f,f,f,g
649,2267.000000,75.0,2.000000,2.0,200.000000,394.0,a,u,g,c,v,f,t,f,g
650,1.238114,135.0,2.000000,1.0,200.000000,1.0,a,y,p,ff,v,f,t,t,g
651,1792.000000,205.0,0.823794,0.0,0.943431,750.0,b,u,g,c,v,f,f,f,g
652,35.000000,3375.0,829.000000,0.0,1.023071,0.0,b,u,g,c,h,f,f,t,g

In [36]:
mod_df.dtypes

Column 2     float64
Column 3     float64
Column 8     float64
Column 11    float64
Column 14    float64
Column 15    float64
Column 1      object
Column 4      object
Column 5      object
Column 6      object
Column 7      object
Column 9      object
Column 10     object
Column 12     object
Column 13     object
dtype: object

In [37]:
mod_df=mod_df[complete_df.columns]
mod_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,Column 11,Column 12,Column 13,Column 14,Column 15
0,b,3083.000000,0.0,u,g,w,v,125.000000,t,t,1.0,f,g,202.000000,0.0
1,a,5867.000000,446.0,u,g,q,h,304.000000,t,t,6.0,f,g,43.000000,560.0
2,a,245.000000,5.0,u,g,q,h,15.000000,t,f,0.0,f,g,280.000000,824.0
3,b,2783.000000,154.0,u,g,w,v,375.000000,t,t,5.0,t,g,100.000000,3.0
4,b,2017.000000,5625.0,u,g,w,v,171.000000,t,f,0.0,f,s,120.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,b,2.251462,10085.0,y,p,e,h,1.239905,f,f,0.0,f,g,1.374858,0.0
649,a,2267.000000,75.0,u,g,c,v,2.000000,f,t,2.0,f,g,200.000000,394.0
650,a,1.238114,135.0,y,p,ff,v,2.000000,f,t,1.0,t,g,200.000000,1.0
651,b,1792.000000,205.0,u,g,c,v,0.823794,f,f,0.0,f,g,0.943431,750.0
652,b,35.000000,3375.0,u,g,c,h,829.000000,f,f,0.0,t,g,1.023071,0.0

calculating NRMSE

In [38]:
import math
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)


def Frobenius_norm(number):
    num=number
    abs_val=num.abs()
    power_abs=abs_val**2
    sum1=power_abs.sum()
    total_sum=Sum_new(sum1)
    return(math.sqrt(total_sum))

In [44]:
numerical_mod_df=mod_df[['Column 2','Column 3','Column 8','Column 11']]
cat_mod_df=mod_df[['Column 1','Column 4','Column 5','Column 6','Column 7','Column 9','Column 10','Column 12','Column 13']]
numerical_complete_df=complete_df[['Column 2','Column 3','Column 8','Column 11']]
cat_complete_df=complete_df[['Column 1','Column 4','Column 5','Column 6','Column 7','Column 9','Column 10','Column 12','Column 13']]
numerator=Frobenius_norm(numerical_mod_df-numerical_complete_df)
denominator=Frobenius_norm(numerical_complete_df)
numerator, denominator

(32944.89718340579, 122717.54732718544)

In [45]:
NRMS=numerator/denominator
NRMS

0.2684611769135933

calculating AE

In [46]:
copy_est_df=cat_mod_df.astype('string')

In [47]:
m=copy_est_df.astype('string')
m

,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,b,u,g,w,v,t,t,f,g
1,a,u,g,q,h,t,t,f,g
2,a,u,g,q,h,t,f,f,g
3,b,u,g,w,v,t,t,t,g
4,b,u,g,w,v,t,f,f,s
...,...,...,...,...,...,...,...,...,...
648,b,y,p,e,h,f,f,f,g
649,a,u,g,c,v,f,t,f,g
650,a,y,p,ff,v,f,t,t,g
651,b,u,g,c,v,f,f,f,g
652,b,u,g,c,h,f,f,t,g

In [48]:
cat_mod_df=pd.DataFrame(data=cat_mod_df)
cat_mod_df

,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,b,u,g,w,v,t,t,f,g
1,a,u,g,q,h,t,t,f,g
2,a,u,g,q,h,t,f,f,g
3,b,u,g,w,v,t,t,t,g
4,b,u,g,w,v,t,f,f,s
...,...,...,...,...,...,...,...,...,...
648,b,y,p,e,h,f,f,f,g
649,a,u,g,c,v,f,t,f,g
650,a,y,p,ff,v,f,t,t,g
651,b,u,g,c,v,f,f,f,g
652,b,u,g,c,h,f,f,t,g

In [49]:
cat_complete_df=pd.DataFrame(data=cat_complete_df)
cat_complete_df

,Column 1,Column 4,Column 5,Column 6,Column 7,Column 9,Column 10,Column 12,Column 13
0,b,u,g,w,v,t,t,f,g
1,a,u,g,q,h,t,t,f,g
2,a,u,g,q,h,t,f,f,g
3,b,u,g,w,v,t,t,t,g
4,b,u,g,w,v,t,f,f,s
...,...,...,...,...,...,...,...,...,...
648,b,y,p,e,h,f,f,f,g
649,a,u,g,c,v,f,t,t,g
650,a,y,p,ff,ff,f,t,t,g
651,b,u,g,aa,v,f,f,f,g
652,b,u,g,c,h,f,f,t,g

In [50]:
# I function
def I_function(est_df,original_df):
    for col_name in est_df.columns:
    
        est_data_list=est_df[col_name].astype('string')
        #print(est_data_list.dtypes)
        org_data_list=original_df[col_name].astype('string')
        for index, data in enumerate(est_data_list):
            if est_data_list[index]==org_data_list[index]:
                est_data_list[index]='0'
            else:
                est_data_list[index]='1'
            
        est_df[col_name]=est_data_list
    return(est_df.astype('int64'))

In [51]:
#copy_est_df=I_function(copy_est_df,complete_df)
#copy_est_df

In [52]:
#copy_est_df.astype('int64')

In [53]:
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)

In [54]:

#copy_est_df.astype('int64').sum()

𝐴𝐸 = (1 /𝑛) ∑ 𝐼(𝑥̂𝑖 = 𝑥𝑖)

In [55]:
def AE(copy_est_df,original_df):
    copy_est_df=I_function(cat_mod_df.astype('string'),cat_complete_df.astype('string'))
    total_sum=copy_est_df.astype('int64').sum()
    final_sum=Sum_new(total_sum)
    ae=final_sum/(653*14)
    return(ae)

In [56]:
AE(copy_est_df,cat_complete_df)

0.024392911835484577

In [30]:
#imputations[-1]

In [57]:
mod_df.to_csv("CREDIT_C_10(imp).csv", index=False,header=False)