In [1]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md

C:\Users\Haidar\anaconda3\lib\site-packages\tensorflow_addons\utils\ensure_tf_install.py:53: UserWarning: Tensorflow Addons supports using Python ops for all Tensorflow versions above or equal to 2.6.0 and strictly below 2.9.0 (nightly versions are not supported).
 The versions of TensorFlow you are currently using is 2.4.1 and is not supported.
Some things might work, some things might not.
If you were to encounter a bug, do not file an issue.
If you want to make sure you're using a tested and supported configuration, either change the TensorFlow version or the TensorFlow Addons's version.
You can find the compatibility matrix in TensorFlow Addon's readme:
https://github.com/tensorflow/addons
  warnings.warn(

In [2]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [3]:
from tensorflow.python.framework import ops
ops.reset_default_graph()

In [4]:
column_names=['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9']
df=pd.read_excel(r'D:\windsor university\Data Mining\Incomplete Datasets Without Labels\AHeart\AHeart_AL_20.xlsx',header=None,names=column_names)
df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9
0,160.0,12.00,NaN,23.11,NaN,49,NaN,97.20,NaN
1,144.0,0.01,NaN,28.61,NaN,55,NaN,2.06,NaN
2,118.0,0.08,3.48,NaN,Present,52,NaN,NaN,NaN
3,170.0,7.50,NaN,38.03,NaN,51,NaN,24.26,NaN
4,134.0,13.60,NaN,27.78,Present,60,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
457,214.0,0.40,5.98,31.72,Absent,64,28.45,0.00,58.0
458,182.0,4.20,4.41,32.10,Absent,52,28.61,18.72,52.0
459,108.0,3.00,NaN,15.23,NaN,40,NaN,26.64,NaN
460,118.0,5.40,11.61,30.79,Absent,64,27.35,23.97,40.0
461,132.0,0.00,4.82,33.41,Present,62,14.70,0.00,46.0

In [5]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [6]:
import tensorflow.compat.v1 as tf
tf.reset_default_graph()

In [7]:
categorical = ['Column 5']
data_cat, cat_cols_list = md.cat_conv(df[categorical])

df.drop(categorical, axis = 1, inplace = True)
constructor_list = [df]
constructor_list.append(data_cat)
data_in = pd.concat(constructor_list, axis=1)

na_loc = data_in.isnull()
data_in[na_loc] = np.nan

In [8]:
print(data_in.head())

   Column 1  Column 2  Column 3  Column 4  Column 6  Column 7  Column 8  \
0     160.0     12.00       NaN     23.11        49       NaN     97.20
1     144.0      0.01       NaN     28.61        55       NaN      2.06
2     118.0      0.08      3.48       NaN        52       NaN       NaN
3     170.0      7.50       NaN     38.03        51       NaN     24.26
4     134.0     13.60       NaN     27.78        60       NaN       NaN

   Column 9  Column 5_Absent  Column 5_Present
0       NaN              NaN               NaN
1       NaN              NaN               NaN
2       NaN              0.0               1.0
3       NaN              NaN               NaN
4       NaN              0.0               1.0

In [9]:
imputer = md.Midas(layer_structure = [9,9+25,9+25+25,9+25+25+25,9+25+25,9+25,9], vae_layer = False, seed = 100, input_drop = 0.5)
imputer.build_model(data_in,softmax_columns = cat_cols_list)
imputer.train_model(training_epochs = 100)

Size index: [8, 2]

Computation graph constructed

Model initialised

Epoch: 0 , loss: 279.1532391139439
Epoch: 1 , loss: 280.5552166530064
Epoch: 2 , loss: 279.21719033377514
Epoch: 3 , loss: 280.4834082467215
Epoch: 4 , loss: 280.81565584455217
Epoch: 5 , loss: 280.29092134748186
Epoch: 6 , loss: 279.146794455392
Epoch: 7 , loss: 279.6455394199916
Epoch: 8 , loss: 280.98314884730746
Epoch: 9 , loss: 279.70624596732006
Epoch: 10 , loss: 280.0599773951939
Epoch: 11 , loss: 280.4035562787737
Epoch: 12 , loss: 279.82782091413225
Epoch: 13 , loss: 280.42928314208984
Epoch: 14 , loss: 279.26321847098217
Epoch: 15 , loss: 280.3258786882673
Epoch: 16 , loss: 279.92889186314176
Epoch: 17 , loss: 280.5183121817453
Epoch: 18 , loss: 280.36690466744557
Epoch: 19 , loss: 281.97622081211637
Epoch: 20 , loss: 279.58022962297713
Epoch: 21 , loss: 280.6876999991281
Epoch: 22 , loss: 279.52779715401783
Epoch: 23 , loss: 280.07119587489535
Epoch: 24 , loss: 280.3721493312291
Epoch: 25 , loss: 278.3615940638951
Epoch: 26 , loss: 279.7447493416922
Epoch: 27 , loss: 280.12040982927596
Epoch: 28 , loss: 280.9780366080148
Epoch: 29 , loss: 280.9215180533273
Epoch: 30 , loss: 279.68926184517994
Epoch: 31 , loss: 278.95259530203685
Epoch: 32 , loss: 277.5355431692941
Epoch: 33 , loss: 275.67802483694896
Epoch: 34 , loss: 272.2674576895578
Epoch: 35 , loss: 270.5530782427107
Epoch: 36 , loss: 264.0183367047991
Epoch: 37 , loss: 257.6733196803502
Epoch: 38 , loss: 250.1543791634696
Epoch: 39 , loss: 237.02235194614954
Epoch: 40 , loss: 220.99582999093192
Epoch: 41 , loss: 210.9844262259347
Epoch: 42 , loss: 203.44359152657645
Epoch: 43 , loss: 197.81250326974052
Epoch: 44 , loss: 193.56809725080217
Epoch: 45 , loss: 195.43819427490234
Epoch: 46 , loss: 194.89963041033064
Epoch: 47 , loss: 197.58422361101424
Epoch: 48 , loss: 193.7900036403111
Epoch: 49 , loss: 194.89165823800224
Epoch: 50 , loss: 198.70006833757674
Epoch: 51 , loss: 203.6505399431501
Epoch: 52 , loss: 205.83212988717216
Epoch: 53 , loss: 205.220520564488
Epoch: 54 , loss: 206.85450853620256
Epoch: 55 , loss: 209.86378261021204
Epoch: 56 , loss: 211.32399368286133
Epoch: 57 , loss: 213.62581307547433
Epoch: 58 , loss: 216.0088599068778
Epoch: 59 , loss: 217.4009552001953
Epoch: 60 , loss: 225.11787360055106
Epoch: 61 , loss: 226.59932436261857
Epoch: 62 , loss: 228.27854210989815
Epoch: 63 , loss: 233.21974454607283
Epoch: 64 , loss: 234.33149937220983
Epoch: 65 , loss: 237.46865136282784
Epoch: 66 , loss: 241.9392465863909
Epoch: 67 , loss: 245.57440567016602
Epoch: 68 , loss: 250.89207240513392
Epoch: 69 , loss: 253.3527445111956
Epoch: 70 , loss: 256.4704164777483
Epoch: 71 , loss: 259.6156005859375
Epoch: 72 , loss: 265.01964678083147
Epoch: 73 , loss: 268.15395954677035
Epoch: 74 , loss: 269.0697501046317
Epoch: 75 , loss: 272.03692299979076
Epoch: 76 , loss: 274.5502831595285
Epoch: 77 , loss: 274.70791299002514
Epoch: 78 , loss: 275.51793125697543
Epoch: 79 , loss: 277.6469514029367
Epoch: 80 , loss: 277.2526147024972
Epoch: 81 , loss: 278.8384268624442
Epoch: 82 , loss: 278.4781472342355
Epoch: 83 , loss: 279.651800428118
Epoch: 84 , loss: 277.5839745657785
Epoch: 85 , loss: 278.09977013724193
Epoch: 86 , loss: 279.70011956351146
Epoch: 87 , loss: 279.5098408290318
Epoch: 88 , loss: 280.35766329084123
Epoch: 89 , loss: 279.6916046142578
Epoch: 90 , loss: 280.46070916312084
Epoch: 91 , loss: 279.9519032069615
Epoch: 92 , loss: 280.34571075439453
Epoch: 93 , loss: 280.2856341770717
Epoch: 94 , loss: 279.9091606140137
Epoch: 95 , loss: 279.8778610229492
Epoch: 96 , loss: 280.4486067635672
Epoch: 97 , loss: 280.57545689174106
Epoch: 98 , loss: 279.6169885907854
Epoch: 99 , loss: 280.59535217285156
Training complete. Saving file...
Model saved in file: tmp/MIDAS

In [10]:
imputations = imputer.generate_samples(m=10).output_list

INFO:tensorflow:Restoring parameters from tmp/MIDAS
Model restored.

In [11]:
np.shape(imputations[-1])

(462, 10)

In [12]:
new_df=imputations[-1]

In [13]:
complete_df=pd.read_excel(r'D:\windsor university\Data Mining\Original Datasets Without Labels\AHeart.xlsx',header=None,names=column_names)
complete_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9
0,160,12.00,5.73,23.11,Present,49,25.30,97.20,52
1,144,0.01,4.41,28.61,Absent,55,28.87,2.06,63
2,118,0.08,3.48,32.28,Present,52,29.14,3.81,46
3,170,7.50,6.41,38.03,Present,51,31.99,24.26,58
4,134,13.60,3.50,27.78,Present,60,25.99,57.34,49
...,...,...,...,...,...,...,...,...,...
457,214,0.40,5.98,31.72,Absent,64,28.45,0.00,58
458,182,4.20,4.41,32.10,Absent,52,28.61,18.72,52
459,108,3.00,1.59,15.23,Absent,40,20.09,26.64,55
460,118,5.40,11.61,30.79,Absent,64,27.35,23.97,40
461,132,0.00,4.82,33.41,Present,62,14.70,0.00,46

In [14]:
flat_cats = [cat for variable in cat_cols_list for cat in variable]

for i in range(len(imputations)):
    tmp_cat = [imputations[i][x].idxmax(axis=1) for x in cat_cols_list]
    cat_df = pd.DataFrame({categorical[i]:tmp_cat[i] for i in range(len(categorical))})
    imputations[i] = pd.concat([imputations[i], cat_df], axis = 1).drop(flat_cats, axis = 1)

In [15]:
print(imputations[-1].columns)

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 6', 'Column 7',
       'Column 8', 'Column 9', 'Column 5'],
      dtype='object')

In [16]:
new_df=imputations[-1]
new_df

,Column 1,Column 2,Column 3,Column 4,Column 6,Column 7,Column 8,Column 9,Column 5
0,160.0,12.00,0.074806,23.110000,49,0.074789,97.200000,0.075740,Column 5_Absent
1,144.0,0.01,0.060015,28.610000,55,0.059360,2.060000,0.060019,Column 5_Absent
2,118.0,0.08,3.480000,0.081413,52,0.078140,0.076881,0.079676,Column 5_Present
3,170.0,7.50,0.074945,38.030000,51,0.072178,24.260000,0.071979,Column 5_Absent
4,134.0,13.60,0.090650,27.780000,60,0.088672,0.088613,0.088995,Column 5_Present
...,...,...,...,...,...,...,...,...,...
457,214.0,0.40,5.980000,31.720000,64,28.450000,0.000000,58.000000,Column 5_Absent
458,182.0,4.20,4.410000,32.100000,52,28.610000,18.720000,52.000000,Column 5_Absent
459,108.0,3.00,0.069668,15.230000,40,0.068653,26.640000,0.069243,Column 5_Absent
460,118.0,5.40,11.610000,30.790000,64,27.350000,23.970000,40.000000,Column 5_Absent
461,132.0,0.00,4.820000,33.410000,62,14.700000,0.000000,46.000000,Column 5_Present

In [17]:
new_df.columns

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 6', 'Column 7',
       'Column 8', 'Column 9', 'Column 5'],
      dtype='object')

In [18]:
cat_cols_list

[['Column 5_Absent', 'Column 5_Present']]

In [19]:
def replace_column_values(dataframe):
    
    for col_name in categorical:
        data_list=dataframe[col_name]
        for index, data in enumerate(data_list):
            data=data.replace(col_name+'_','')
            data_list[index]=data
        dataframe[col_name]=data_list    
    return(dataframe)

In [20]:
mod_df=replace_column_values(new_df)
mod_df

<ipython-input-19-188f3f425541>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_list[index]=data

,Column 1,Column 2,Column 3,Column 4,Column 6,Column 7,Column 8,Column 9,Column 5
0,160.0,12.00,0.074806,23.110000,49,0.074789,97.200000,0.075740,Absent
1,144.0,0.01,0.060015,28.610000,55,0.059360,2.060000,0.060019,Absent
2,118.0,0.08,3.480000,0.081413,52,0.078140,0.076881,0.079676,Present
3,170.0,7.50,0.074945,38.030000,51,0.072178,24.260000,0.071979,Absent
4,134.0,13.60,0.090650,27.780000,60,0.088672,0.088613,0.088995,Present
...,...,...,...,...,...,...,...,...,...
457,214.0,0.40,5.980000,31.720000,64,28.450000,0.000000,58.000000,Absent
458,182.0,4.20,4.410000,32.100000,52,28.610000,18.720000,52.000000,Absent
459,108.0,3.00,0.069668,15.230000,40,0.068653,26.640000,0.069243,Absent
460,118.0,5.40,11.610000,30.790000,64,27.350000,23.970000,40.000000,Absent
461,132.0,0.00,4.820000,33.410000,62,14.700000,0.000000,46.000000,Present

In [21]:
mod_df.dtypes

Column 1    float64
Column 2    float64
Column 3    float64
Column 4    float64
Column 6      int64
Column 7    float64
Column 8    float64
Column 9    float64
Column 5     object
dtype: object

In [22]:
mod_df=mod_df[complete_df.columns]
mod_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9
0,160.0,12.00,0.074806,23.110000,Absent,49,0.074789,97.200000,0.075740
1,144.0,0.01,0.060015,28.610000,Absent,55,0.059360,2.060000,0.060019
2,118.0,0.08,3.480000,0.081413,Present,52,0.078140,0.076881,0.079676
3,170.0,7.50,0.074945,38.030000,Absent,51,0.072178,24.260000,0.071979
4,134.0,13.60,0.090650,27.780000,Present,60,0.088672,0.088613,0.088995
...,...,...,...,...,...,...,...,...,...
457,214.0,0.40,5.980000,31.720000,Absent,64,28.450000,0.000000,58.000000
458,182.0,4.20,4.410000,32.100000,Absent,52,28.610000,18.720000,52.000000
459,108.0,3.00,0.069668,15.230000,Absent,40,0.068653,26.640000,0.069243
460,118.0,5.40,11.610000,30.790000,Absent,64,27.350000,23.970000,40.000000
461,132.0,0.00,4.820000,33.410000,Present,62,14.700000,0.000000,46.000000

calculating NRMSE

In [23]:
import math
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)


def Frobenius_norm(number):
    num=number
    abs_val=num.abs()
    power_abs=abs_val**2
    sum1=power_abs.sum()
    total_sum=Sum_new(sum1)
    return(math.sqrt(total_sum))

In [24]:
numerical_mod_df=mod_df[['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 6', 'Column 7','Column 8', 'Column 9']]
cat_mod_df=mod_df['Column 5']
numerical_complete_df=complete_df[['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 6', 'Column 7','Column 8', 'Column 9']]
cat_complete_df=complete_df['Column 5']
numerator=Frobenius_norm(numerical_mod_df-numerical_complete_df)
denominator=Frobenius_norm(numerical_complete_df)
numerator, denominator

(1215.5300861617766, 3523.1685325854055)

In [25]:
NRMS=numerator/denominator
NRMS

0.3450104855670315

calculating AE

In [26]:
copy_est_df=cat_mod_df.astype('string')

In [27]:
m=copy_est_df.astype('string')
m.dtypes

StringDtype

In [28]:
cat_mod_df=pd.DataFrame(data=cat_mod_df)
cat_mod_df

    Column 5
0     Absent
1     Absent
2    Present
3     Absent
4    Present
..       ...
457   Absent
458   Absent
459   Absent
460   Absent
461  Present

[462 rows x 1 columns]

In [29]:
cat_complete_df=pd.DataFrame(data=cat_complete_df)
cat_complete_df

    Column 5
0    Present
1     Absent
2    Present
3    Present
4    Present
..       ...
457   Absent
458   Absent
459   Absent
460   Absent
461  Present

[462 rows x 1 columns]

In [30]:
# I function
def I_function(est_df,original_df):
    for col_name in est_df.columns:
    
        est_data_list=est_df[col_name].astype('string')
        #print(est_data_list.dtypes)
        org_data_list=original_df[col_name].astype('string')
        for index, data in enumerate(est_data_list):
            if est_data_list[index]==org_data_list[index]:
                est_data_list[index]='0'
            else:
                est_data_list[index]='1'
            
        est_df[col_name]=est_data_list
    return(est_df.astype('int64'))

In [31]:
#copy_est_df=I_function(copy_est_df,complete_df)
#copy_est_df

In [32]:
#copy_est_df.astype('int64')

In [33]:
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)

In [34]:

#copy_est_df.astype('int64').sum()

𝐴𝐸 = (1 /𝑛) ∑ 𝐼(𝑥̂𝑖 = 𝑥𝑖)

In [35]:
def AE(copy_est_df,original_df):
    copy_est_df=I_function(cat_mod_df.astype('string'),cat_complete_df.astype('string'))
    total_sum=copy_est_df.astype('int64').sum()
    final_sum=Sum_new(total_sum)
    ae=final_sum/(462*1)
    return(ae)

In [36]:
AE(copy_est_df,cat_complete_df)

0.021645021645021644

In [37]:
c=['a','b']
bigdata=pd.DataFrame(columns=c)
#bigdata['a']=pd.DataFrame(cat_complete_df.astype('string'))
#bigdata['b']=pd.DataFrame(cat_mod_df)

bigdata=pd.concat([cat_complete_df.astype('string') ,cat_mod_df.astype('string')],ignore_index=False, sort=False, axis=1)
bigdata

    Column 5 Column 5
0    Present   Absent
1     Absent   Absent
2    Present  Present
3    Present   Absent
4    Present  Present
..       ...      ...
457   Absent   Absent
458   Absent   Absent
459   Absent   Absent
460   Absent   Absent
461  Present  Present

[462 rows x 2 columns]

In [38]:
for ind,i in enumerate(bigdata.iloc[:,0]):
    if bigdata.iloc[ind,0] is not bigdata.iloc[ind:1]:
        print(ind)
        print(bigdata.iloc[ind,:])

0
Column 5    Present
Column 5     Absent
Name: 0, dtype: string
1
Column 5    Absent
Column 5    Absent
Name: 1, dtype: string
2
Column 5    Present
Column 5    Present
Name: 2, dtype: string
3
Column 5    Present
Column 5     Absent
Name: 3, dtype: string
4
Column 5    Present
Column 5    Present
Name: 4, dtype: string
5
Column 5    Present
Column 5    Present
Name: 5, dtype: string
6
Column 5    Absent
Column 5    Absent
Name: 6, dtype: string
7
Column 5    Present
Column 5     Absent
Name: 7, dtype: string
8
Column 5    Present
Column 5    Present
Name: 8, dtype: string
9
Column 5    Present
Column 5    Present
Name: 9, dtype: string
10
Column 5    Absent
Column 5    Absent
Name: 10, dtype: string
11
Column 5    Present
Column 5    Present
Name: 11, dtype: string
12
Column 5    Absent
Column 5    Absent
Name: 12, dtype: string
13
Column 5    Absent
Column 5    Absent
Name: 13, dtype: string
14
Column 5    Present
Column 5    Present
Name: 14, dtype: string
15
Column 5    Present
Column 5    Present
Name: 15, dtype: string
16
Column 5    Absent
Column 5    Absent
Name: 16, dtype: string
17
Column 5    Present
Column 5    Present
Name: 17, dtype: string
18
Column 5    Present
Column 5    Present
Name: 18, dtype: string
19
Column 5    Present
Column 5    Present
Name: 19, dtype: string
20
Column 5    Absent
Column 5    Absent
Name: 20, dtype: string
21
Column 5    Present
Column 5    Present
Name: 21, dtype: string
22
Column 5    Present
Column 5    Present
Name: 22, dtype: string
23
Column 5    Absent
Column 5    Absent
Name: 23, dtype: string
24
Column 5    Absent
Column 5    Absent
Name: 24, dtype: string
25
Column 5    Present
Column 5    Present
Name: 25, dtype: string
26
Column 5    Absent
Column 5    Absent
Name: 26, dtype: string
27
Column 5    Absent
Column 5    Absent
Name: 27, dtype: string
28
Column 5    Present
Column 5    Present
Name: 28, dtype: string
29
Column 5    Absent
Column 5    Absent
Name: 29, dtype: string
30
Column 5    Absent
Column 5    Absent
Name: 30, dtype: string
31
Column 5    Absent
Column 5    Absent
Name: 31, dtype: string
32
Column 5    Present
Column 5    Present
Name: 32, dtype: string
33
Column 5    Absent
Column 5    Absent
Name: 33, dtype: string
34
Column 5    Absent
Column 5    Absent
Name: 34, dtype: string
35
Column 5    Absent
Column 5    Absent
Name: 35, dtype: string
36
Column 5    Absent
Column 5    Absent
Name: 36, dtype: string
37
Column 5    Absent
Column 5    Absent
Name: 37, dtype: string
38
Column 5    Present
Column 5    Present
Name: 38, dtype: string
39
Column 5    Present
Column 5    Present
Name: 39, dtype: string
40
Column 5    Present
Column 5    Present
Name: 40, dtype: string
41
Column 5    Absent
Column 5    Absent
Name: 41, dtype: string
42
Column 5    Absent
Column 5    Absent
Name: 42, dtype: string
43
Column 5    Present
Column 5    Present
Name: 43, dtype: string
44
Column 5    Absent
Column 5    Absent
Name: 44, dtype: string
45
Column 5    Absent
Column 5    Absent
Name: 45, dtype: string
46
Column 5    Present
Column 5    Present
Name: 46, dtype: string
47
Column 5    Present
Column 5    Present
Name: 47, dtype: string
48
Column 5    Absent
Column 5    Absent
Name: 48, dtype: string
49
Column 5    Absent
Column 5    Absent
Name: 49, dtype: string
50
Column 5    Present
Column 5    Present
Name: 50, dtype: string
51
Column 5    Absent
Column 5    Absent
Name: 51, dtype: string
52
Column 5    Absent
Column 5    Absent
Name: 52, dtype: string
53
Column 5    Present
Column 5     Absent
Name: 53, dtype: string
54
Column 5    Absent
Column 5    Absent
Name: 54, dtype: string
55
Column 5    Absent
Column 5    Absent
Name: 55, dtype: string
56
Column 5    Absent
Column 5    Absent
Name: 56, dtype: string
57
Column 5    Absent
Column 5    Absent
Name: 57, dtype: string
58
Column 5    Absent
Column 5    Absent
Name: 58, dtype: string
59
Column 5    Present
Column 5    Present
Name: 59, dtype: string
60
Column 5    Absent
Column 5    Absent
Name: 60, dtype: string
61
Column 5    Present
Column 5    Present
Name: 61, dtype: string
62
Column 5    Present
Column 5     Absent
Name: 62, dtype: string
63
Column 5    Absent
Column 5    Absent
Name: 63, dtype: string
64
Column 5    Absent
Column 5    Absent
Name: 64, dtype: string
65
Column 5    Present
Column 5    Present
Name: 65, dtype: string
66
Column 5    Present
Column 5    Present
Name: 66, dtype: string
67
Column 5    Absent
Column 5    Absent
Name: 67, dtype: string
68
Column 5    Present
Column 5    Present
Name: 68, dtype: string
69
Column 5    Absent
Column 5    Absent
Name: 69, dtype: string
70
Column 5    Absent
Column 5    Absent
Name: 70, dtype: string
71
Column 5    Absent
Column 5    Absent
Name: 71, dtype: string
72
Column 5    Absent
Column 5    Absent
Name: 72, dtype: string
73
Column 5    Present
Column 5    Present
Name: 73, dtype: string
74
Column 5    Absent
Column 5    Absent
Name: 74, dtype: string
75
Column 5    Absent
Column 5    Absent
Name: 75, dtype: string
76
Column 5    Absent
Column 5    Absent
Name: 76, dtype: string
77
Column 5    Present
Column 5    Present
Name: 77, dtype: string
78
Column 5    Absent
Column 5    Absent
Name: 78, dtype: string
79
Column 5    Present
Column 5    Present
Name: 79, dtype: string
80
Column 5    Present
Column 5    Present
Name: 80, dtype: string
81
Column 5    Absent
Column 5    Absent
Name: 81, dtype: string
82
Column 5    Present
Column 5    Present
Name: 82, dtype: string
83
Column 5    Absent
Column 5    Absent
Name: 83, dtype: string
84
Column 5    Present
Column 5    Present
Name: 84, dtype: string
85
Column 5    Absent
Column 5    Absent
Name: 85, dtype: string
86
Column 5    Absent
Column 5    Absent
Name: 86, dtype: string
87
Column 5    Present
Column 5    Present
Name: 87, dtype: string
88
Column 5    Present
Column 5    Present
Name: 88, dtype: string
89
Column 5    Absent
Column 5    Absent
Name: 89, dtype: string
90
Column 5    Absent
Column 5    Absent
Name: 90, dtype: string
91
Column 5    Absent
Column 5    Absent
Name: 91, dtype: string
92
Column 5    Absent
Column 5    Absent
Name: 92, dtype: string
93
Column 5    Absent
Column 5    Absent
Name: 93, dtype: string
94
Column 5    Absent
Column 5    Absent
Name: 94, dtype: string
95
Column 5    Absent
Column 5    Absent
Name: 95, dtype: string
96
Column 5    Present
Column 5    Present
Name: 96, dtype: string
97
Column 5    Present
Column 5    Present
Name: 97, dtype: string
98
Column 5    Present
Column 5    Present
Name: 98, dtype: string
99
Column 5    Absent
Column 5    Absent
Name: 99, dtype: string
100
Column 5    Present
Column 5     Absent
Name: 100, dtype: string
101
Column 5    Absent
Column 5    Absent
Name: 101, dtype: string
102
Column 5    Present
Column 5    Present
Name: 102, dtype: string
103
Column 5    Absent
Column 5    Absent
Name: 103, dtype: string
104
Column 5    Absent
Column 5    Absent
Name: 104, dtype: string
105
Column 5    Absent
Column 5    Absent
Name: 105, dtype: string
106
Column 5    Absent
Column 5    Absent
Name: 106, dtype: string
107
Column 5    Present
Column 5    Present
Name: 107, dtype: string
108
Column 5    Absent
Column 5    Absent
Name: 108, dtype: string
109
Column 5    Absent
Column 5    Absent
Name: 109, dtype: string
110
Column 5    Absent
Column 5    Absent
Name: 110, dtype: string
111
Column 5    Present
Column 5    Present
Name: 111, dtype: string
112
Column 5    Absent
Column 5    Absent
Name: 112, dtype: string
113
Column 5    Present
Column 5    Present
Name: 113, dtype: string
114
Column 5    Absent
Column 5    Absent
Name: 114, dtype: string
115
Column 5    Present
Column 5    Present
Name: 115, dtype: string
116
Column 5    Absent
Column 5    Absent
Name: 116, dtype: string
117
Column 5    Absent
Column 5    Absent
Name: 117, dtype: string
118
Column 5    Present
Column 5    Present
Name: 118, dtype: string
119
Column 5    Absent
Column 5    Absent
Name: 119, dtype: string
120
Column 5    Absent
Column 5    Absent
Name: 120, dtype: string
121
Column 5    Absent
Column 5    Absent
Name: 121, dtype: string
122
Column 5    Absent
Column 5    Absent
Name: 122, dtype: string
123
Column 5    Absent
Column 5    Absent
Name: 123, dtype: string
124
Column 5    Absent
Column 5    Absent
Name: 124, dtype: string
125
Column 5    Present
Column 5    Present
Name: 125, dtype: string
126
Column 5    Absent
Column 5    Absent
Name: 126, dtype: string
127
Column 5    Present
Column 5    Present
Name: 127, dtype: string
128
Column 5    Absent
Column 5    Absent
Name: 128, dtype: string
129
Column 5    Present
Column 5    Present
Name: 129, dtype: string
130
Column 5    Absent
Column 5    Absent
Name: 130, dtype: string
131
Column 5    Absent
Column 5    Absent
Name: 131, dtype: string
132
Column 5    Absent
Column 5    Absent
Name: 132, dtype: string
133
Column 5    Absent
Column 5    Absent
Name: 133, dtype: string
134
Column 5    Absent
Column 5    Absent
Name: 134, dtype: string
135
Column 5    Present
Column 5    Present
Name: 135, dtype: string
136
Column 5    Absent
Column 5    Absent
Name: 136, dtype: string
137
Column 5    Present
Column 5    Present
Name: 137, dtype: string
138
Column 5    Absent
Column 5    Absent
Name: 138, dtype: string
139
Column 5    Present
Column 5    Present
Name: 139, dtype: string
140
Column 5    Absent
Column 5    Absent
Name: 140, dtype: string
141
Column 5    Present
Column 5     Absent
Name: 141, dtype: string
142
Column 5    Absent
Column 5    Absent
Name: 142, dtype: string
143
Column 5    Absent
Column 5    Absent
Name: 143, dtype: string
144
Column 5    Absent
Column 5    Absent
Name: 144, dtype: string
145
Column 5    Absent
Column 5    Absent
Name: 145, dtype: string
146
Column 5    Present
Column 5    Present
Name: 146, dtype: string
147
Column 5    Present
Column 5    Present
Name: 147, dtype: string
148
Column 5    Absent
Column 5    Absent
Name: 148, dtype: string
149
Column 5    Absent
Column 5    Absent
Name: 149, dtype: string
150
Column 5    Absent
Column 5    Absent
Name: 150, dtype: string
151
Column 5    Absent
Column 5    Absent
Name: 151, dtype: string
152
Column 5    Absent
Column 5    Absent
Name: 152, dtype: string
153
Column 5    Absent
Column 5    Absent
Name: 153, dtype: string
154
Column 5    Present
Column 5    Present
Name: 154, dtype: string
155
Column 5    Present
Column 5    Present
Name: 155, dtype: string
156
Column 5    Absent
Column 5    Absent
Name: 156, dtype: string
157
Column 5    Absent
Column 5    Absent
Name: 157, dtype: string
158
Column 5    Absent
Column 5    Absent
Name: 158, dtype: string
159
Column 5    Absent
Column 5    Absent
Name: 159, dtype: string
160
Column 5    Absent
Column 5    Absent
Name: 160, dtype: string
161
Column 5    Absent
Column 5    Absent
Name: 161, dtype: string
162
Column 5    Absent
Column 5    Absent
Name: 162, dtype: string
163
Column 5    Absent
Column 5    Absent
Name: 163, dtype: string
164
Column 5    Absent
Column 5    Absent
Name: 164, dtype: string
165
Column 5    Absent
Column 5    Absent
Name: 165, dtype: string
166
Column 5    Absent
Column 5    Absent
Name: 166, dtype: string
167
Column 5    Present
Column 5    Present
Name: 167, dtype: string
168
Column 5    Present
Column 5    Present
Name: 168, dtype: string
169
Column 5    Present
Column 5    Present
Name: 169, dtype: string
170
Column 5    Present
Column 5    Present
Name: 170, dtype: string
171
Column 5    Absent
Column 5    Absent
Name: 171, dtype: string
172
Column 5    Absent
Column 5    Absent
Name: 172, dtype: string
173
Column 5    Absent
Column 5    Absent
Name: 173, dtype: string
174
Column 5    Present
Column 5    Present
Name: 174, dtype: string
175
Column 5    Present
Column 5    Present
Name: 175, dtype: string
176
Column 5    Present
Column 5    Present
Name: 176, dtype: string
177
Column 5    Absent
Column 5    Absent
Name: 177, dtype: string
178
Column 5    Absent
Column 5    Absent
Name: 178, dtype: string
179
Column 5    Absent
Column 5    Absent
Name: 179, dtype: string
180
Column 5    Absent
Column 5    Absent
Name: 180, dtype: string
181
Column 5    Present
Column 5    Present
Name: 181, dtype: string
182
Column 5    Present
Column 5    Present
Name: 182, dtype: string
183
Column 5    Present
Column 5    Present
Name: 183, dtype: string
184
Column 5    Present
Column 5    Present
Name: 184, dtype: string
185
Column 5    Present
Column 5    Present
Name: 185, dtype: string
186
Column 5    Absent
Column 5    Absent
Name: 186, dtype: string
187
Column 5    Absent
Column 5    Absent
Name: 187, dtype: string
188
Column 5    Present
Column 5    Present
Name: 188, dtype: string
189
Column 5    Present
Column 5     Absent
Name: 189, dtype: string
190
Column 5    Absent
Column 5    Absent
Name: 190, dtype: string
191
Column 5    Present
Column 5    Present
Name: 191, dtype: string
192
Column 5    Present
Column 5    Present
Name: 192, dtype: string
193
Column 5    Absent
Column 5    Absent
Name: 193, dtype: string
194
Column 5    Absent
Column 5    Absent
Name: 194, dtype: string
195
Column 5    Present
Column 5    Present
Name: 195, dtype: string
196
Column 5    Absent
Column 5    Absent
Name: 196, dtype: string
197
Column 5    Absent
Column 5    Absent
Name: 197, dtype: string
198
Column 5    Present
Column 5    Present
Name: 198, dtype: string
199
Column 5    Absent
Column 5    Absent
Name: 199, dtype: string
200
Column 5    Absent
Column 5    Absent
Name: 200, dtype: string
201
Column 5    Present
Column 5    Present
Name: 201, dtype: string
202
Column 5    Absent
Column 5    Absent
Name: 202, dtype: string
203
Column 5    Absent
Column 5    Absent
Name: 203, dtype: string
204
Column 5    Present
Column 5    Present
Name: 204, dtype: string
205
Column 5    Absent
Column 5    Absent
Name: 205, dtype: string
206
Column 5    Present
Column 5    Present
Name: 206, dtype: string
207
Column 5    Present
Column 5    Present
Name: 207, dtype: string
208
Column 5    Absent
Column 5    Absent
Name: 208, dtype: string
209
Column 5    Present
Column 5    Present
Name: 209, dtype: string
210
Column 5    Absent
Column 5    Absent
Name: 210, dtype: string
211
Column 5    Present
Column 5    Present
Name: 211, dtype: string
212
Column 5    Absent
Column 5    Absent
Name: 212, dtype: string
213
Column 5    Absent
Column 5    Absent
Name: 213, dtype: string
214
Column 5    Absent
Column 5    Absent
Name: 214, dtype: string
215
Column 5    Absent
Column 5    Absent
Name: 215, dtype: string
216
Column 5    Absent
Column 5    Absent
Name: 216, dtype: string
217
Column 5    Absent
Column 5    Absent
Name: 217, dtype: string
218
Column 5    Absent
Column 5    Absent
Name: 218, dtype: string
219
Column 5    Absent
Column 5    Absent
Name: 219, dtype: string
220
Column 5    Absent
Column 5    Absent
Name: 220, dtype: string
221
Column 5    Present
Column 5    Present
Name: 221, dtype: string
222
Column 5    Absent
Column 5    Absent
Name: 222, dtype: string
223
Column 5    Present
Column 5    Present
Name: 223, dtype: string
224
Column 5    Absent
Column 5    Absent
Name: 224, dtype: string
225
Column 5    Absent
Column 5    Absent
Name: 225, dtype: string
226
Column 5    Present
Column 5    Present
Name: 226, dtype: string
227
Column 5    Absent
Column 5    Absent
Name: 227, dtype: string
228
Column 5    Present
Column 5    Present
Name: 228, dtype: string
229
Column 5    Present
Column 5    Present
Name: 229, dtype: string
230
Column 5    Present
Column 5    Present
Name: 230, dtype: string
231
Column 5    Absent
Column 5    Absent
Name: 231, dtype: string
232
Column 5    Absent
Column 5    Absent
Name: 232, dtype: string
233
Column 5    Absent
Column 5    Absent
Name: 233, dtype: string
234
Column 5    Absent
Column 5    Absent
Name: 234, dtype: string
235
Column 5    Absent
Column 5    Absent
Name: 235, dtype: string
236
Column 5    Absent
Column 5    Absent
Name: 236, dtype: string
237
Column 5    Present
Column 5    Present
Name: 237, dtype: string
238
Column 5    Absent
Column 5    Absent
Name: 238, dtype: string
239
Column 5    Absent
Column 5    Absent
Name: 239, dtype: string
240
Column 5    Absent
Column 5    Absent
Name: 240, dtype: string
241
Column 5    Present
Column 5    Present
Name: 241, dtype: string
242
Column 5    Absent
Column 5    Absent
Name: 242, dtype: string
243
Column 5    Absent
Column 5    Absent
Name: 243, dtype: string
244
Column 5    Present
Column 5    Present
Name: 244, dtype: string
245
Column 5    Absent
Column 5    Absent
Name: 245, dtype: string
246
Column 5    Present
Column 5    Present
Name: 246, dtype: string
247
Column 5    Present
Column 5    Present
Name: 247, dtype: string
248
Column 5    Absent
Column 5    Absent
Name: 248, dtype: string
249
Column 5    Present
Column 5    Present
Name: 249, dtype: string
250
Column 5    Absent
Column 5    Absent
Name: 250, dtype: string
251
Column 5    Absent
Column 5    Absent
Name: 251, dtype: string
252
Column 5    Absent
Column 5    Absent
Name: 252, dtype: string
253
Column 5    Present
Column 5    Present
Name: 253, dtype: string
254
Column 5    Present
Column 5     Absent
Name: 254, dtype: string
255
Column 5    Present
Column 5    Present
Name: 255, dtype: string
256
Column 5    Present
Column 5    Present
Name: 256, dtype: string
257
Column 5    Present
Column 5    Present
Name: 257, dtype: string
258
Column 5    Absent
Column 5    Absent
Name: 258, dtype: string
259
Column 5    Present
Column 5    Present
Name: 259, dtype: string

260
Column 5    Absent
Column 5    Absent
Name: 260, dtype: string
261
Column 5    Present
Column 5    Present
Name: 261, dtype: string
262
Column 5    Present
Column 5    Present
Name: 262, dtype: string
263
Column 5    Present
Column 5    Present
Name: 263, dtype: string
264
Column 5    Present
Column 5    Present
Name: 264, dtype: string
265
Column 5    Absent
Column 5    Absent
Name: 265, dtype: string
266
Column 5    Absent
Column 5    Absent
Name: 266, dtype: string
267
Column 5    Absent
Column 5    Absent
Name: 267, dtype: string
268
Column 5    Present
Column 5    Present
Name: 268, dtype: string
269
Column 5    Present
Column 5    Present
Name: 269, dtype: string
270
Column 5    Present
Column 5    Present
Name: 270, dtype: string
271
Column 5    Absent
Column 5    Absent
Name: 271, dtype: string
272
Column 5    Present
Column 5    Present
Name: 272, dtype: string
273
Column 5    Absent
Column 5    Absent
Name: 273, dtype: string
274
Column 5    Absent
Column 5    Absent
Name: 274, dtype: string
275
Column 5    Present
Column 5    Present
Name: 275, dtype: string
276
Column 5    Present
Column 5    Present
Name: 276, dtype: string
277
Column 5    Absent
Column 5    Absent
Name: 277, dtype: string
278
Column 5    Absent
Column 5    Absent
Name: 278, dtype: string
279
Column 5    Absent
Column 5    Absent
Name: 279, dtype: string
280
Column 5    Absent
Column 5    Absent
Name: 280, dtype: string
281
Column 5    Absent
Column 5    Absent
Name: 281, dtype: string
282
Column 5    Absent
Column 5    Absent
Name: 282, dtype: string
283
Column 5    Absent
Column 5    Absent
Name: 283, dtype: string
284
Column 5    Present
Column 5    Present
Name: 284, dtype: string
285
Column 5    Absent
Column 5    Absent
Name: 285, dtype: string
286
Column 5    Absent
Column 5    Absent
Name: 286, dtype: string
287
Column 5    Absent
Column 5    Absent
Name: 287, dtype: string
288
Column 5    Absent
Column 5    Absent
Name: 288, dtype: string
289
Column 5    Absent
Column 5    Absent
Name: 289, dtype: string
290
Column 5    Absent
Column 5    Absent
Name: 290, dtype: string
291
Column 5    Absent
Column 5    Absent
Name: 291, dtype: string
292
Column 5    Absent
Column 5    Absent
Name: 292, dtype: string
293
Column 5    Present
Column 5    Present
Name: 293, dtype: string
294
Column 5    Absent
Column 5    Absent
Name: 294, dtype: string
295
Column 5    Absent
Column 5    Absent
Name: 295, dtype: string
296
Column 5    Absent
Column 5    Absent
Name: 296, dtype: string
297
Column 5    Absent
Column 5    Absent
Name: 297, dtype: string
298
Column 5    Absent
Column 5    Absent
Name: 298, dtype: string
299
Column 5    Present
Column 5    Present
Name: 299, dtype: string
300
Column 5    Present
Column 5    Present
Name: 300, dtype: string
301
Column 5    Absent
Column 5    Absent
Name: 301, dtype: string
302
Column 5    Absent
Column 5    Absent
Name: 302, dtype: string
303
Column 5    Present
Column 5    Present
Name: 303, dtype: string
304
Column 5    Absent
Column 5    Absent
Name: 304, dtype: string
305
Column 5    Present
Column 5    Present
Name: 305, dtype: string
306
Column 5    Present
Column 5    Present
Name: 306, dtype: string
307
Column 5    Absent
Column 5    Absent
Name: 307, dtype: string
308
Column 5    Absent
Column 5    Absent
Name: 308, dtype: string
309
Column 5    Present
Column 5    Present
Name: 309, dtype: string
310
Column 5    Present
Column 5    Present
Name: 310, dtype: string
311
Column 5    Absent
Column 5    Absent
Name: 311, dtype: string
312
Column 5    Present
Column 5    Present
Name: 312, dtype: string
313
Column 5    Absent
Column 5    Absent
Name: 313, dtype: string
314
Column 5    Absent
Column 5    Absent
Name: 314, dtype: string
315
Column 5    Absent
Column 5    Absent
Name: 315, dtype: string
316
Column 5    Present
Column 5    Present
Name: 316, dtype: string
317
Column 5    Absent
Column 5    Absent
Name: 317, dtype: string
318
Column 5    Present
Column 5    Present
Name: 318, dtype: string
319
Column 5    Absent
Column 5    Absent
Name: 319, dtype: string
320
Column 5    Present
Column 5    Present
Name: 320, dtype: string
321
Column 5    Present
Column 5    Present
Name: 321, dtype: string
322
Column 5    Absent
Column 5    Absent
Name: 322, dtype: string
323
Column 5    Present
Column 5    Present
Name: 323, dtype: string
324
Column 5    Absent
Column 5    Absent
Name: 324, dtype: string
325
Column 5    Absent
Column 5    Absent
Name: 325, dtype: string
326
Column 5    Present
Column 5    Present
Name: 326, dtype: string
327
Column 5    Absent
Column 5    Absent
Name: 327, dtype: string
328
Column 5    Absent
Column 5    Absent
Name: 328, dtype: string
329
Column 5    Absent
Column 5    Absent
Name: 329, dtype: string
330
Column 5    Absent
Column 5    Absent
Name: 330, dtype: string
331
Column 5    Present
Column 5    Present
Name: 331, dtype: string
332
Column 5    Present
Column 5    Present
Name: 332, dtype: string
333
Column 5    Absent
Column 5    Absent
Name: 333, dtype: string
334
Column 5    Absent
Column 5    Absent
Name: 334, dtype: string
335
Column 5    Present
Column 5    Present
Name: 335, dtype: string
336
Column 5    Present
Column 5    Present
Name: 336, dtype: string
337
Column 5    Absent
Column 5    Absent
Name: 337, dtype: string
338
Column 5    Present
Column 5    Present
Name: 338, dtype: string
339
Column 5    Absent
Column 5    Absent
Name: 339, dtype: string
340
Column 5    Absent
Column 5    Absent
Name: 340, dtype: string
341
Column 5    Present
Column 5    Present
Name: 341, dtype: string
342
Column 5    Present
Column 5    Present
Name: 342, dtype: string
343
Column 5    Absent
Column 5    Absent
Name: 343, dtype: string
344
Column 5    Absent
Column 5    Absent
Name: 344, dtype: string
345
Column 5    Present
Column 5    Present
Name: 345, dtype: string
346
Column 5    Present
Column 5    Present
Name: 346, dtype: string
347
Column 5    Absent
Column 5    Absent
Name: 347, dtype: string
348
Column 5    Present
Column 5    Present
Name: 348, dtype: string
349
Column 5    Absent
Column 5    Absent
Name: 349, dtype: string
350
Column 5    Present
Column 5    Present
Name: 350, dtype: string
351
Column 5    Present
Column 5    Present
Name: 351, dtype: string
352
Column 5    Present
Column 5    Present
Name: 352, dtype: string
353
Column 5    Present
Column 5    Present
Name: 353, dtype: string
354
Column 5    Present
Column 5    Present
Name: 354, dtype: string
355
Column 5    Present
Column 5    Present
Name: 355, dtype: string
356
Column 5    Absent
Column 5    Absent
Name: 356, dtype: string
357
Column 5    Absent
Column 5    Absent
Name: 357, dtype: string
358
Column 5    Present
Column 5    Present
Name: 358, dtype: string
359
Column 5    Absent
Column 5    Absent
Name: 359, dtype: string
360
Column 5    Present
Column 5    Present
Name: 360, dtype: string
361
Column 5    Absent
Column 5    Absent
Name: 361, dtype: string
362
Column 5    Present
Column 5    Present
Name: 362, dtype: string
363
Column 5    Present
Column 5    Present
Name: 363, dtype: string
364
Column 5    Present
Column 5     Absent
Name: 364, dtype: string
365
Column 5    Absent
Column 5    Absent
Name: 365, dtype: string
366
Column 5    Absent
Column 5    Absent
Name: 366, dtype: string
367
Column 5    Present
Column 5    Present
Name: 367, dtype: string
368
Column 5    Present
Column 5    Present
Name: 368, dtype: string
369
Column 5    Absent
Column 5    Absent
Name: 369, dtype: string
370
Column 5    Present
Column 5    Present
Name: 370, dtype: string
371
Column 5    Present
Column 5    Present
Name: 371, dtype: string
372
Column 5    Absent
Column 5    Absent
Name: 372, dtype: string
373
Column 5    Present
Column 5    Present
Name: 373, dtype: string
374
Column 5    Present
Column 5    Present
Name: 374, dtype: string
375
Column 5    Absent
Column 5    Absent
Name: 375, dtype: string
376
Column 5    Absent
Column 5    Absent
Name: 376, dtype: string
377
Column 5    Present
Column 5    Present
Name: 377, dtype: string
378
Column 5    Absent
Column 5    Absent
Name: 378, dtype: string
379
Column 5    Absent
Column 5    Absent
Name: 379, dtype: string
380
Column 5    Absent
Column 5    Absent
Name: 380, dtype: string
381
Column 5    Present
Column 5    Present
Name: 381, dtype: string
382
Column 5    Present
Column 5    Present
Name: 382, dtype: string
383
Column 5    Absent
Column 5    Absent
Name: 383, dtype: string
384
Column 5    Absent
Column 5    Absent
Name: 384, dtype: string
385
Column 5    Present
Column 5    Present
Name: 385, dtype: string
386
Column 5    Present
Column 5    Present
Name: 386, dtype: string
387
Column 5    Absent
Column 5    Absent
Name: 387, dtype: string
388
Column 5    Absent
Column 5    Absent
Name: 388, dtype: string
389
Column 5    Present
Column 5    Present
Name: 389, dtype: string
390
Column 5    Present
Column 5    Present
Name: 390, dtype: string
391
Column 5    Present
Column 5    Present
Name: 391, dtype: string
392
Column 5    Absent
Column 5    Absent
Name: 392, dtype: string
393
Column 5    Absent
Column 5    Absent
Name: 393, dtype: string
394
Column 5    Absent
Column 5    Absent
Name: 394, dtype: string
395
Column 5    Absent
Column 5    Absent
Name: 395, dtype: string
396
Column 5    Present
Column 5    Present
Name: 396, dtype: string
397
Column 5    Absent
Column 5    Absent
Name: 397, dtype: string
398
Column 5    Present
Column 5    Present
Name: 398, dtype: string
399
Column 5    Absent
Column 5    Absent
Name: 399, dtype: string
400
Column 5    Absent
Column 5    Absent
Name: 400, dtype: string
401
Column 5    Absent
Column 5    Absent
Name: 401, dtype: string
402
Column 5    Present
Column 5    Present
Name: 402, dtype: string
403
Column 5    Present
Column 5    Present
Name: 403, dtype: string
404
Column 5    Absent
Column 5    Absent
Name: 404, dtype: string
405
Column 5    Present
Column 5    Present
Name: 405, dtype: string
406
Column 5    Present
Column 5    Present
Name: 406, dtype: string
407
Column 5    Present
Column 5    Present
Name: 407, dtype: string
408
Column 5    Absent
Column 5    Absent
Name: 408, dtype: string
409
Column 5    Absent
Column 5    Absent
Name: 409, dtype: string
410
Column 5    Absent
Column 5    Absent
Name: 410, dtype: string
411
Column 5    Absent
Column 5    Absent
Name: 411, dtype: string
412
Column 5    Absent
Column 5    Absent
Name: 412, dtype: string
413
Column 5    Present
Column 5    Present
Name: 413, dtype: string
414
Column 5    Present
Column 5    Present
Name: 414, dtype: string
415
Column 5    Present
Column 5    Present
Name: 415, dtype: string
416
Column 5    Absent
Column 5    Absent
Name: 416, dtype: string
417
Column 5    Present
Column 5    Present
Name: 417, dtype: string
418
Column 5    Present
Column 5    Present
Name: 418, dtype: string
419
Column 5    Absent
Column 5    Absent
Name: 419, dtype: string
420
Column 5    Absent
Column 5    Absent
Name: 420, dtype: string
421
Column 5    Absent
Column 5    Absent
Name: 421, dtype: string
422
Column 5    Present
Column 5    Present
Name: 422, dtype: string
423
Column 5    Present
Column 5    Present
Name: 423, dtype: string
424
Column 5    Absent
Column 5    Absent
Name: 424, dtype: string
425
Column 5    Absent
Column 5    Absent
Name: 425, dtype: string
426
Column 5    Present
Column 5    Present
Name: 426, dtype: string
427
Column 5    Absent
Column 5    Absent
Name: 427, dtype: string
428
Column 5    Present
Column 5    Present
Name: 428, dtype: string
429
Column 5    Absent
Column 5    Absent
Name: 429, dtype: string
430
Column 5    Absent
Column 5    Absent
Name: 430, dtype: string
431
Column 5    Absent
Column 5    Absent
Name: 431, dtype: string
432
Column 5    Absent
Column 5    Absent
Name: 432, dtype: string
433
Column 5    Absent
Column 5    Absent
Name: 433, dtype: string
434
Column 5    Present
Column 5    Present
Name: 434, dtype: string
435
Column 5    Absent
Column 5    Absent
Name: 435, dtype: string
436
Column 5    Present
Column 5    Present
Name: 436, dtype: string
437
Column 5    Absent
Column 5    Absent
Name: 437, dtype: string
438
Column 5    Absent
Column 5    Absent
Name: 438, dtype: string
439
Column 5    Absent
Column 5    Absent
Name: 439, dtype: string
440
Column 5    Absent
Column 5    Absent
Name: 440, dtype: string
441
Column 5    Present
Column 5    Present
Name: 441, dtype: string
442
Column 5    Absent
Column 5    Absent
Name: 442, dtype: string
443
Column 5    Absent
Column 5    Absent
Name: 443, dtype: string
444
Column 5    Absent
Column 5    Absent
Name: 444, dtype: string
445
Column 5    Present
Column 5    Present
Name: 445, dtype: string
446
Column 5    Absent
Column 5    Absent
Name: 446, dtype: string
447
Column 5    Present
Column 5    Present
Name: 447, dtype: string
448
Column 5    Present
Column 5    Present
Name: 448, dtype: string
449
Column 5    Present
Column 5    Present
Name: 449, dtype: string
450
Column 5    Absent
Column 5    Absent
Name: 450, dtype: string
451
Column 5    Absent
Column 5    Absent
Name: 451, dtype: string
452
Column 5    Present
Column 5    Present
Name: 452, dtype: string
453
Column 5    Present
Column 5    Present
Name: 453, dtype: string
454
Column 5    Absent
Column 5    Absent
Name: 454, dtype: string
455
Column 5    Absent
Column 5    Absent
Name: 455, dtype: string
456
Column 5    Present
Column 5    Present
Name: 456, dtype: string
457
Column 5    Absent
Column 5    Absent
Name: 457, dtype: string
458
Column 5    Absent
Column 5    Absent
Name: 458, dtype: string
459
Column 5    Absent
Column 5    Absent
Name: 459, dtype: string
460
Column 5    Absent
Column 5    Absent
Name: 460, dtype: string
461
Column 5    Present
Column 5    Present
Name: 461, dtype: string

In [39]:
#imputations[-1]

In [40]:
mod_df.to_csv("AHeart_AL_20(imputed).csv", index=False,header=False)