In [1]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md

In [2]:
column_names=['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22','Column 23','Column 24','Column 25','Column 26','Column 27','Column 28','Column 29','Column 30','Column 31','Column 32','Column 33','Column 34','Column 35','Column 36','Column 37','Column 38','Column 39','Column 40','Column 41','Column 42','Column 43','Column 44','Column 45','Column 46','Column 47','Column 48','Column 49','Column 50','Column 51','Column 52','Column 53','Column 54','Column 55','Column 56','Column 57','Column 58','Column 59','Column 60']
df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\incomplete\Incomplete Datasets Without Labels\Splice\Splice_AL_1.xlsx',header=None,names=column_names)
df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 51,Column 52,Column 53,Column 54,Column 55,Column 56,Column 57,Column 58,Column 59,Column 60
0,A,G,A,C,C,C,G,C,C,G,...,G,T,G,C,C,C,C,C,G,C
1,G,A,G,G,T,G,A,A,G,G,...,C,A,C,G,G,G,G,A,T,G
2,G,G,G,C,T,G,C,G,T,T,...,G,G,T,T,T,T,C,C,C,C
3,G,C,T,C,A,G,C,C,C,C,...,C,C,T,T,G,A,C,C,C,T
4,C,A,G,A,C,T,G,G,G,T,...,G,A,G,A,C,C,A,C,A,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3185,A,C,G,A,G,T,A,T,G,T,...,T,T,T,G,T,T,G,G,T,G
3186,A,A,C,T,G,G,A,A,G,A,...,G,G,G,T,G,G,T,C,A,A
3187,G,A,A,T,T,C,A,T,C,C,...,G,G,C,T,A,A,T,G,C,C
3188,T,G,A,C,T,T,T,G,C,A,...,T,C,T,A,C,C,C,A,T,G
3189,G,A,G,C,T,C,C,C,A,G,...,G,G,C,A,C,A,G,C,T,G

In [3]:
from tensorflow.python.framework import ops
ops.reset_default_graph()

In [4]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [5]:
import tensorflow as tf
tf.compat.v1.reset_default_graph()

In [6]:
import tensorflow.compat.v1 as tf
tf.reset_default_graph()

In [7]:
categorical = ['Column 1','Column 2','Column 3','Column 4','Column 5','Column 6','Column 7','Column 8','Column 9','Column 10','Column 11','Column 12','Column 13','Column 14','Column 15','Column 16','Column 17','Column 18','Column 19','Column 20','Column 21','Column 22','Column 23','Column 24','Column 25','Column 26','Column 27','Column 28','Column 29','Column 30','Column 31','Column 32','Column 33','Column 34','Column 35','Column 36','Column 37','Column 38','Column 39','Column 40','Column 41','Column 42','Column 43','Column 44','Column 45','Column 46','Column 47','Column 48','Column 49','Column 50','Column 51','Column 52','Column 53','Column 54','Column 55','Column 56','Column 57','Column 58','Column 59','Column 60']
data_cat, cat_cols_list = md.cat_conv(df[categorical])

df.drop(categorical, axis = 1, inplace = True)
constructor_list = [df]
constructor_list.append(data_cat)
data_in = pd.concat(constructor_list, axis=1)

na_loc = data_in.isnull()
data_in[na_loc] = np.nan

In [8]:
print(data_in.head())

   Column 1_A  Column 1_C  Column 1_D  Column 1_G  Column 1_T  Column 2_A  \
0         1.0         0.0         0.0         0.0         0.0         0.0
1         0.0         0.0         0.0         1.0         0.0         1.0
2         0.0         0.0         0.0         1.0         0.0         0.0
3         0.0         0.0         0.0         1.0         0.0         0.0
4         0.0         1.0         0.0         0.0         0.0         1.0

   Column 2_C  Column 2_D  Column 2_G  Column 2_T  ...  Column 58_T  \
0         0.0         0.0         1.0         0.0  ...          0.0
1         0.0         0.0         0.0         0.0  ...          0.0
2         0.0         0.0         1.0         0.0  ...          0.0
3         1.0         0.0         0.0         0.0  ...          0.0
4         0.0         0.0         0.0         0.0  ...          0.0

   Column 59_A  Column 59_C  Column 59_G  Column 59_N  Column 59_T  \
0          0.0          0.0          1.0          0.0          0.0
1          0.0          0.0          0.0          0.0          1.0
2          0.0          1.0          0.0          0.0          0.0
3          0.0          1.0          0.0          0.0          0.0
4          1.0          0.0          0.0          0.0          0.0

   Column 60_A  Column 60_C  Column 60_G  Column 60_T
0          0.0          1.0          0.0          0.0
1          0.0          0.0          1.0          0.0
2          0.0          1.0          0.0          0.0
3          0.0          0.0          0.0          1.0
4          0.0          0.0          1.0          0.0

[5 rows x 276 columns]

In [9]:
#cat_cols_list

In [10]:
imputer = md.Midas(layer_structure = [285,285+9,285+9+9,285+9+9+9,285+9+9,285+9,285], vae_layer = False, seed = 100, input_drop = 0.5)
imputer.build_model(data_in,softmax_columns = cat_cols_list)
imputer.train_model(training_epochs = 10)

Size index: [5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 4, 4, 5, 5, 5, 4, 5, 4, 5, 5, 5, 5, 5, 4, 5, 4, 5, 4, 5, 6, 5, 5, 4, 5, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 5, 5, 5, 5, 4]

Computation graph constructed

Model initialised

Epoch: 0 , loss: 89.24747593558614
Epoch: 1 , loss: 82.9502858300904
Epoch: 2 , loss: 82.19241574541408
Epoch: 3 , loss: 81.89782385131222
Epoch: 4 , loss: 81.70258158774831
Epoch: 5 , loss: 81.5704910431675
Epoch: 6 , loss: 81.44099453106597
Epoch: 7 , loss: 81.36948191580461
Epoch: 8 , loss: 81.27700721318998
Epoch: 9 , loss: 81.19993035397937
Training complete. Saving file...
Model saved in file: tmp/MIDAS

In [11]:
imputations = imputer.generate_samples(m=10).output_list

INFO:tensorflow:Restoring parameters from tmp/MIDAS
Model restored.

In [12]:
np.shape(imputations[-1])

(3190, 276)

In [13]:
new_df=imputations[-1]

In [14]:
complete_df=pd.read_excel(r'C:\Users\furqz\OneDrive\Desktop\Data mining stiff\complete\Original Datasets Without Labels\Splice.xlsx',header=None,names=column_names)
complete_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 51,Column 52,Column 53,Column 54,Column 55,Column 56,Column 57,Column 58,Column 59,Column 60
0,A,G,A,C,C,C,G,C,C,G,...,G,T,G,C,C,C,C,C,G,C
1,G,A,G,G,T,G,A,A,G,G,...,C,A,C,G,G,G,G,A,T,G
2,G,G,G,C,T,G,C,G,T,T,...,G,G,T,T,T,T,C,C,C,C
3,G,C,T,C,A,G,C,C,C,C,...,C,C,T,T,G,A,C,C,C,T
4,C,A,G,A,C,T,G,G,G,T,...,G,A,G,A,C,C,A,C,A,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3185,A,C,G,A,G,T,A,T,G,T,...,T,T,T,G,T,T,G,G,T,G
3186,A,A,C,T,G,G,A,A,G,A,...,G,G,G,T,G,G,T,C,A,A
3187,G,A,A,T,T,C,A,T,C,C,...,G,G,C,T,A,A,T,G,C,C
3188,T,G,A,C,T,T,T,G,C,A,...,T,C,T,A,C,C,C,A,T,G
3189,G,A,G,C,T,C,C,C,A,G,...,G,G,C,A,C,A,G,C,T,G

In [15]:
flat_cats = [cat for variable in cat_cols_list for cat in variable]

for i in range(len(imputations)):
    tmp_cat = [imputations[i][x].idxmax(axis=1) for x in cat_cols_list]
    cat_df = pd.DataFrame({categorical[i]:tmp_cat[i] for i in range(len(categorical))})
    imputations[i] = pd.concat([imputations[i], cat_df], axis = 1).drop(flat_cats, axis = 1)

In [16]:
print(imputations[-1].columns)

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22', 'Column 23', 'Column 24', 'Column 25', 'Column 26',
       'Column 27', 'Column 28', 'Column 29', 'Column 30', 'Column 31',
       'Column 32', 'Column 33', 'Column 34', 'Column 35', 'Column 36',
       'Column 37', 'Column 38', 'Column 39', 'Column 40', 'Column 41',
       'Column 42', 'Column 43', 'Column 44', 'Column 45', 'Column 46',
       'Column 47', 'Column 48', 'Column 49', 'Column 50', 'Column 51',
       'Column 52', 'Column 53', 'Column 54', 'Column 55', 'Column 56',
       'Column 57', 'Column 58', 'Column 59', 'Column 60'],
      dtype='object')

In [17]:
new_df=imputations[-1]
new_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 51,Column 52,Column 53,Column 54,Column 55,Column 56,Column 57,Column 58,Column 59,Column 60
0,Column 1_A,Column 2_G,Column 3_A,Column 4_C,Column 5_C,Column 6_C,Column 7_G,Column 8_C,Column 9_C,Column 10_G,...,Column 51_G,Column 52_T,Column 53_G,Column 54_C,Column 55_C,Column 56_C,Column 57_C,Column 58_C,Column 59_G,Column 60_C
1,Column 1_G,Column 2_A,Column 3_G,Column 4_G,Column 5_T,Column 6_G,Column 7_A,Column 8_A,Column 9_G,Column 10_G,...,Column 51_C,Column 52_A,Column 53_C,Column 54_G,Column 55_G,Column 56_G,Column 57_G,Column 58_A,Column 59_T,Column 60_G
2,Column 1_G,Column 2_G,Column 3_G,Column 4_C,Column 5_T,Column 6_G,Column 7_C,Column 8_G,Column 9_T,Column 10_T,...,Column 51_G,Column 52_G,Column 53_T,Column 54_T,Column 55_T,Column 56_T,Column 57_C,Column 58_C,Column 59_C,Column 60_C
3,Column 1_G,Column 2_C,Column 3_T,Column 4_C,Column 5_A,Column 6_G,Column 7_C,Column 8_C,Column 9_C,Column 10_C,...,Column 51_C,Column 52_C,Column 53_T,Column 54_T,Column 55_G,Column 56_A,Column 57_C,Column 58_C,Column 59_C,Column 60_T
4,Column 1_C,Column 2_A,Column 3_G,Column 4_A,Column 5_C,Column 6_T,Column 7_G,Column 8_G,Column 9_G,Column 10_T,...,Column 51_G,Column 52_A,Column 53_G,Column 54_A,Column 55_C,Column 56_C,Column 57_A,Column 58_C,Column 59_A,Column 60_G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3185,Column 1_A,Column 2_C,Column 3_G,Column 4_A,Column 5_G,Column 6_T,Column 7_A,Column 8_T,Column 9_G,Column 10_T,...,Column 51_T,Column 52_T,Column 53_T,Column 54_G,Column 55_T,Column 56_T,Column 57_G,Column 58_G,Column 59_T,Column 60_G
3186,Column 1_A,Column 2_A,Column 3_C,Column 4_T,Column 5_G,Column 6_G,Column 7_A,Column 8_A,Column 9_G,Column 10_A,...,Column 51_G,Column 52_G,Column 53_G,Column 54_T,Column 55_G,Column 56_G,Column 57_T,Column 58_C,Column 59_A,Column 60_A
3187,Column 1_G,Column 2_A,Column 3_A,Column 4_T,Column 5_T,Column 6_C,Column 7_A,Column 8_T,Column 9_C,Column 10_C,...,Column 51_G,Column 52_G,Column 53_C,Column 54_T,Column 55_A,Column 56_A,Column 57_T,Column 58_G,Column 59_C,Column 60_C
3188,Column 1_T,Column 2_G,Column 3_A,Column 4_C,Column 5_T,Column 6_T,Column 7_T,Column 8_G,Column 9_C,Column 10_A,...,Column 51_T,Column 52_C,Column 53_T,Column 54_A,Column 55_C,Column 56_C,Column 57_C,Column 58_A,Column 59_T,Column 60_G
3189,Column 1_G,Column 2_A,Column 3_G,Column 4_C,Column 5_T,Column 6_C,Column 7_C,Column 8_C,Column 9_A,Column 10_G,...,Column 51_G,Column 52_G,Column 53_C,Column 54_A,Column 55_C,Column 56_A,Column 57_G,Column 58_C,Column 59_T,Column 60_G

In [18]:
new_df.columns

Index(['Column 1', 'Column 2', 'Column 3', 'Column 4', 'Column 5', 'Column 6',
       'Column 7', 'Column 8', 'Column 9', 'Column 10', 'Column 11',
       'Column 12', 'Column 13', 'Column 14', 'Column 15', 'Column 16',
       'Column 17', 'Column 18', 'Column 19', 'Column 20', 'Column 21',
       'Column 22', 'Column 23', 'Column 24', 'Column 25', 'Column 26',
       'Column 27', 'Column 28', 'Column 29', 'Column 30', 'Column 31',
       'Column 32', 'Column 33', 'Column 34', 'Column 35', 'Column 36',
       'Column 37', 'Column 38', 'Column 39', 'Column 40', 'Column 41',
       'Column 42', 'Column 43', 'Column 44', 'Column 45', 'Column 46',
       'Column 47', 'Column 48', 'Column 49', 'Column 50', 'Column 51',
       'Column 52', 'Column 53', 'Column 54', 'Column 55', 'Column 56',
       'Column 57', 'Column 58', 'Column 59', 'Column 60'],
      dtype='object')

In [19]:
def replace_column_values(dataframe):
    
    for col_name in dataframe.columns:
        data_list=dataframe[col_name]
        for index, data in enumerate(data_list):
            data=data.replace(col_name+'_','')
            data_list[index]=data
        dataframe[col_name]=data_list    
    return(dataframe)

In [20]:
mod_df=replace_column_values(new_df)
mod_df

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,...,Column 51,Column 52,Column 53,Column 54,Column 55,Column 56,Column 57,Column 58,Column 59,Column 60
0,A,G,A,C,C,C,G,C,C,G,...,G,T,G,C,C,C,C,C,G,C
1,G,A,G,G,T,G,A,A,G,G,...,C,A,C,G,G,G,G,A,T,G
2,G,G,G,C,T,G,C,G,T,T,...,G,G,T,T,T,T,C,C,C,C
3,G,C,T,C,A,G,C,C,C,C,...,C,C,T,T,G,A,C,C,C,T
4,C,A,G,A,C,T,G,G,G,T,...,G,A,G,A,C,C,A,C,A,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3185,A,C,G,A,G,T,A,T,G,T,...,T,T,T,G,T,T,G,G,T,G
3186,A,A,C,T,G,G,A,A,G,A,...,G,G,G,T,G,G,T,C,A,A
3187,G,A,A,T,T,C,A,T,C,C,...,G,G,C,T,A,A,T,G,C,C
3188,T,G,A,C,T,T,T,G,C,A,...,T,C,T,A,C,C,C,A,T,G
3189,G,A,G,C,T,C,C,C,A,G,...,G,G,C,A,C,A,G,C,T,G

In [21]:
mod_df.dtypes

Column 1     object
Column 2     object
Column 3     object
Column 4     object
Column 5     object
Column 6     object
Column 7     object
Column 8     object
Column 9     object
Column 10    object
Column 11    object
Column 12    object
Column 13    object
Column 14    object
Column 15    object
Column 16    object
Column 17    object
Column 18    object
Column 19    object
Column 20    object
Column 21    object
Column 22    object
Column 23    object
Column 24    object
Column 25    object
Column 26    object
Column 27    object
Column 28    object
Column 29    object
Column 30    object
Column 31    object
Column 32    object
Column 33    object
Column 34    object
Column 35    object
Column 36    object
Column 37    object
Column 38    object
Column 39    object
Column 40    object
Column 41    object
Column 42    object
Column 43    object
Column 44    object
Column 45    object
Column 46    object
Column 47    object
Column 48    object
Column 49    object
Column 50    object
Column 51    object
Column 52    object
Column 53    object
Column 54    object
Column 55    object
Column 56    object
Column 57    object
Column 58    object
Column 59    object
Column 60    object
dtype: object

calculating AE

In [22]:
copy_est_df=mod_df.astype('string')
copy_est_df.dtypes

Column 1     string
Column 2     string
Column 3     string
Column 4     string
Column 5     string
Column 6     string
Column 7     string
Column 8     string
Column 9     string
Column 10    string
Column 11    string
Column 12    string
Column 13    string
Column 14    string
Column 15    string
Column 16    string
Column 17    string
Column 18    string
Column 19    string
Column 20    string
Column 21    string
Column 22    string
Column 23    string
Column 24    string
Column 25    string
Column 26    string
Column 27    string
Column 28    string
Column 29    string
Column 30    string
Column 31    string
Column 32    string
Column 33    string
Column 34    string
Column 35    string
Column 36    string
Column 37    string
Column 38    string
Column 39    string
Column 40    string
Column 41    string
Column 42    string
Column 43    string
Column 44    string
Column 45    string
Column 46    string
Column 47    string
Column 48    string
Column 49    string
Column 50    string
Column 51    string
Column 52    string
Column 53    string
Column 54    string
Column 55    string
Column 56    string
Column 57    string
Column 58    string
Column 59    string
Column 60    string
dtype: object

In [23]:
complete_df=complete_df.astype('string')
complete_df.dtypes

Column 1     string
Column 2     string
Column 3     string
Column 4     string
Column 5     string
Column 6     string
Column 7     string
Column 8     string
Column 9     string
Column 10    string
Column 11    string
Column 12    string
Column 13    string
Column 14    string
Column 15    string
Column 16    string
Column 17    string
Column 18    string
Column 19    string
Column 20    string
Column 21    string
Column 22    string
Column 23    string
Column 24    string
Column 25    string
Column 26    string
Column 27    string
Column 28    string
Column 29    string
Column 30    string
Column 31    string
Column 32    string
Column 33    string
Column 34    string
Column 35    string
Column 36    string
Column 37    string
Column 38    string
Column 39    string
Column 40    string
Column 41    string
Column 42    string
Column 43    string
Column 44    string
Column 45    string
Column 46    string
Column 47    string
Column 48    string
Column 49    string
Column 50    string
Column 51    string
Column 52    string
Column 53    string
Column 54    string
Column 55    string
Column 56    string
Column 57    string
Column 58    string
Column 59    string
Column 60    string
dtype: object

In [24]:
#m=copy_est_df.astype('string')
#m

In [25]:
# I function
def I_function(copy_est_df,original_df):
    est_df=pd.DataFrame.empty
    for col_name in copy_est_df.columns:
        est_df=pd.DataFrame(columns = df.columns.tolist() + [col_name])
        #copy_est_df[col_name] = copy_est_df[col_name].astype('string')
        #original_df[col_name] = original_df[col_name].astype('string')
        est_data_list=copy_est_df[col_name].astype('string')
        #print(est_data_list.dtypes)
        org_data_list=original_df[col_name].astype('string')
        for index, data in enumerate(est_data_list):
            if est_data_list[index]==org_data_list[index]:
                est_data_list[index]='0'
            else:
                est_data_list[index]='1'
            
        est_df[col_name]=est_data_list
    return(est_df.astype('int64'))

In [26]:
def Sum_new(sum):
    summ=0
    for n in sum:
        summ=summ+n
    return (summ)

𝐴𝐸 = (1 /𝑛) ∑ 𝐼(𝑥̂𝑖 = 𝑥𝑖)

In [27]:
def AE(copy_est_df,original_df):
    est_df=I_function(copy_est_df,original_df)
    total_sum=est_df.astype('int64').sum()
    final_sum=Sum_new(total_sum)
    ae=final_sum/(3190*60)
    return(ae)

In [28]:
AE(copy_est_df,complete_df)

0.016666666666666666

In [30]:
mod_df.to_excel("Splice_AL_1(imp).xlsx", index=False,header=False)